<form action="/contact/send/index.php" class="contactform no-print status-initial">{% comment %}
<!-- This snippet can be included in all types of contact sections -->
{% endcomment %}
  <fieldset>
    <legend class="contactform-title">{{ content.contactFormTitle }}</legend>
    <div class="contactform-row contactform-row-name">
      <label for="contactform-field-name" class="contactform-label-name">
        {{ content.contactFormLabelName }}:
      </label>
      <input
        type="text"
        name="contactform-field-name"
        id="contactform-field-name"
        class="contactform-field-name"
        placeholder="{{ content.contactFormPlaceholderYourName }}"
      >
    </div>

    <div class="contactform-row contactform-row-emailfon">
      <label for="contactform-field-emailfon" class="contactform-label-emailfon">
        {{ content.contactFormLabelContact }}:
      </label>
      <input
        type="text"
        name="contactform-field-emailfon"
        id="contactform-field-emailfon"
        class="contactform-field-emailfon"
        placeholder="{{ content.contactFormLabelEmailOrPhone }}"
      >
    </div>

    <div class="contactform-row contactform-row-message">
      <label for="contactform-field-message" class="contactform-label-message visually-hidden">
        {{ content.contactFormLabelMessage }}:
      </label>
      <textarea
        name="contactform-field-message"
        id="contactform-field-message"
        class="contactform-field-message"
        placeholder="{{ content.contactFormLabelMessage }}"
      ></textarea>
    </div>

    <div class="contactform-row contactform-row-optional initially-hidden">
      <input type="text" name="contactform-field-homepage" class="contactform-field-homepage">
      <input type="hidden" name="contactform-field-captcha" class="contactform-field-captcha">
    </div>

    <div class="contactform-row contactform-row-submit">
      <button
        type="submit" name="contactform-button-submit" class="contactform-button-submit">
        <span class="send-first">{{ content.contactFormButtonSubmit }}</span>
        <span class="send-retry initially-hidden">{{ content.contactFormButtonSubmitRetry }}</span>
      </button>
    </div>
  </fieldset>

  <div class="contactform-message contactform-message-sending initially-hidden">{{ content.contactFormMessageSending }}</div>
  <div class="contactform-message contactform-message-sent initially-hidden">{{ content.contactFormMessageSent }}</div>
  <div class="contactform-message contactform-message-error initially-hidden">{{ content.contactFormMessageError }}</div>
</form>
