<div class="sticky-header {{ headerClassName | default: 'smaller-header' }} is-nav-closed is-unstuck" id="sticky-header">
  <div class="wrapper">
      <span class="raised-layer">
        <span class="scripted hideable" id="sticky-headline">
          <a href="../">
            <img
              src="../img/Ingo-Steinke-portrait-2020.jpg"
              width="25"
              height="25"
              alt="{{ content.linkToTop }}"
              class="avatar"
            />
            {{ content.jumbotronHeader }}
          </a>
        </span>
      </span>

    <div class="nav-wrapper">
      <a href="../#contact" class="extra-nav-link initially-hidden">{{ content.targetContact }}</a>
      <a href="#main-menu"
         id="main-menu-toggle"
         class="menu-toggle"
         aria-label="{{ content.menuOpen }}">
        <span class="sr-only">{{ content.menuOpen }}</span>
        {{ content.menuButton }}
      </a>

      <nav
        id="main-menu"
        class="main-menu page-navigation"
        aria-label="{{ content.menuLabel }}"
      >
        <a
          href="#main-menu-toggle"
          id="main-menuClose"
          class="menuClose"
          aria-label="{{ content.menuClose }}"
        >
          <svg viewBox="0 0 512 512" width="16" height="16">
            <g>
              <path d="m25 512a25 25 0 0 1 -17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462a24.93 24.93 0 0 1 -17.68 7.32z" fill="currentColor"/>
              <path d="m487 512a24.93 24.93 0 0 1 -17.68-7.32l-462-462a25 25 0 0 1 35.36-35.36l462 462a25 25 0 0 1 -17.68 42.68z" fill="currentColor"/>
            </g>
          </svg>
        </a>
        <ul>
          {% if isaboutme %}
            <li><a href="#about-me">{{ content.targetAboutMe }}</a></li>
            <li><a href="#projects">{{ content.targetProjects }}</a></li>
            <li><a href="#skills">{{ content.targetSkills }}</a></li>
            <li><a href="#contact">{{ content.targetContact }}</a></li>
          {% else %}
            <li><a href="../#projects">{{ content.targetRefs }}</a></li>
            <li><a href="../#services">{{ content.targetServices }}</a></li>
            <li><a href="../{{ content.targetAboutMeUrl }}">{{ content.targetAboutMe }}</a></li>
            <li><a href="../#contact">{{ content.targetContact }}</a></li>
          {% endif %}
          <li><a href="../#imprint">{{ content.targetImprint }}</a></li>
          <li><a href="../#privacy">{{ content.targetPrivacy }}</a></li>
          <li>
            <a
              href="{{ alternatelink }}"
              hreflang="{{ alternatehreflang }}"
              lang="{{ alternatehreflang }}"
              title="{{ content.targetOtherLanguageTitle }}"
              id="language-switch"
            >{{ content.targetOtherLanguage }}</a>
          </li>
        </ul>
      </nav>
      {% include '_includes/animation-toggle-button.liquid' %}
      <button
        id="contrast-toggle"
        class="contrast-toggle no-print"
        title="{{ content.toggleContrast }}"
        data-reducecaption="{{ content.reduceContrast }}"
        data-increasecaption="{{ content.increaseContrast }}"
      >
        <svg viewBox="0 0 32 32" width="24" height="24">
          <path fill="currentColor" d="M15 2h2v3h-2zM27 15h3v2h-3zM15 27h2v3h-2zM2 15h3v2H2zM5.45 6.884l1.414-1.415 2.121 2.122-1.414 1.414zM23 7.58l2.121-2.12 1.414 1.414-2.121 2.121zM23.002 24.416l1.415-1.414 2.12 2.122-1.413 1.414zM5.47 25.13 7.59 23 9 24.42l-2.12 2.12-1.41-1.41zM16 8a8 8 0 1 0 8 8 8 8 0 0 0-8-8Zm0 14a6 6 0 0 1 0-12Z"/>
          <path fill="none" style="fill:none" d="M0 0h32v32H0z"/>
        </svg>
      </button>

      <a href="#main-menu-toggle"
         class="backdrop"
         tabindex="-1"
         aria-hidden="true"
         hidden>
      </a>
    </div>
  </div>
</div>
