<footer class="page-footer">{% comment %}
<!-- This snippet is only used on sub-pages, not on the homepage! -->
{% endcomment %}
  <p class="legal legal--links no-print">
    <a href="../#imprint">{{ content.targetImprint }}</a>
    <a href="../#privacy">{{ content.targetPrivacy }}</a>
    <a href="{{ content.landingLinkUrlSitemap }}">{{ content.landingLinkTextSitemap }}</a>
  </p>
  <div class="center transparent no-print"><p><a href="https://ecograder.com/scanning/ZLb3lZqYEsMIVnttn3lZMw8z" target="_blank" rel="noopener" title="In November 2025, this page scored better than 89% of all URLs crawled by Ecograder.">Ecograder Score: 93/100 (0.25 g CO₂e)</a></p></div>
  <div class="badges"><div class="badge badge--greenweb transparent no-print"><a href="https://www.thegreenwebfoundation.org/green-web-check/?url=https%3A%2F%2Fwww.ingo-steinke.de%2F" target="_blank" rel="noopener"><picture><source srcset="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.webp" type="image/webp"><source srcset="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.png" type="image/png"><img src="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.png" data-original-src="https://api.thegreenwebfoundation.org/greencheckimage/www.ingo-steinke.de?nocache=true" alt="This website is hosted Green by goneo Internet GmbH - checked by thegreenwebfoundation.org"></picture></a></div></div>
  <p class="no-print">
    <button class="animation-toggle">{{ content.buttonToggleAnimation }}</button>
  </p>
  <div class="only-print"><br></div>
  <div class="legal legal--copyright">
    <span class="copyright-icon">&copy;</span>
    <span class="copright-date">{{ "now" | date: "%Y" }}</span>
    <span class="copyright-author">{{ content.imprintName }}</span>
  </div>
</footer>
