<footer class="page-footer">{% comment %}
<!-- This snippet is only used on sub-pages, not on the homepage! -->
{% endcomment %}
  <p class="legal legal--links no-print">
    <a href="../{{ content.servicesBuildMoreLinkPath }}" title="{{ content.servicesBuildMoreSubFooterLinkTitle }}">{{ content.servicesBuildMoreSubFooterLinkText }}</a>
    <a href="../{{ content.servicesVerifyMoreLinkPath }}" title="{{ content.servicesVerifyMoreSubFooterLinkTitle }}">{{ content.servicesVerifyMoreSubFooterLinkText }}</a>
    <a href="../{{ content.servicesImproveMoreLinkPath }}" title="{{ content.servicesImproveMoreSubFooterLinkTitle }}">{{ content.servicesImproveMoreSubFooterLinkText }}</a>
  </p>
  <p class="landingpage--links no-print">
    <a href="{{ content.landingLinkUrlSustainability }}" title="{{ content.landingLinkTitleSustainability }}">{{ content.landingLinkTextSustainability }}</a>
    <a href="{{ content.landingLinkUrlFreelanceBerlin }}" title="{{ content.landingLinkTitleFreelanceBerlin }}">{{ content.landingLinkTextFreelanceBerlin }}</a>
  </p>
  <p class="legal legal--links no-print">
    <a href="../#contact">{{ content.targetContact }}</a>
    <a href="../#imprint">{{ content.targetImprint }}</a>
    <a href="../#privacy">{{ content.targetPrivacy }}</a>
  </p>
  <div class="center transparent no-print"><p><a href="https://ecograder.com/report/xIVJ8Ub1j74pqr6JQ45iClLA" target="_blank" rel="noopener" title="In October 2023, this page scored better than 89% of all URLs crawled by Ecograder.">Ecograder Score: 97/100 (0.05 g CO₂e)</a></p></div>
  <div class="badges"><div class="badge badge--greenweb transparent no-print"><a href="https://www.thegreenwebfoundation.org/green-web-check/?url=https%3A%2F%2Fwww.ingo-steinke.de%2F" target="_blank" rel="noopener"><picture><source srcset="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.webp" type="image/webp"><source srcset="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.png" type="image/png"><img src="https://www.ingo-steinke.de/img/badge-greencheckimage-www.ingo-steinke.de-2023.png" data-original-src="https://api.thegreenwebfoundation.org/greencheckimage/www.ingo-steinke.de?nocache=true" alt="This website is hosted Green by goneo Internet GmbH - checked by thegreenwebfoundation.org"></picture></a></div></div>
  <div class="only-print"><br></div><div class="legal legal--copyright">© 2024 Ingo Steinke</div>
</footer>
