<footer class="page-footer"><aside>{% comment %}
<!-- This snippet is only used on sub-pages, not on the homepage! -->
{% endcomment %}
  <p class="no-print">
    <button class="animation-toggle">{{ content.buttonToggleAnimation }}</button>
  </p>
  <p class="legal legal--links no-print">
    <a href="../#imprint">{{ content.targetImprint }}</a>
    <a href="../#privacy">{{ content.targetPrivacy }}</a>
    <a href="{{ content.landingLinkUrlSitemap }}">{{ content.landingLinkTextSitemap }}</a>
  </p>
  <div class="only-print"><br></div>
  <div class="legal legal--copyright">
    <span class="copyright-icon">&copy;</span>
    <span class="copright-date">{{ "now" | date: "%Y" }}</span>
    <span class="copyright-author">{{ content.imprintName }}</span>
  </div>
  </aside></footer>
