    {% if showallprojects %}
      {%- assign projects = 'kleiderordnung, shopwareplugin, twistedconnection, portfolio, daskannstdutun, fractal, foodtogether, wordpress, reactapp' | split: ', ' -%}
    {% else %}
      {%- assign projects = projectlist | split: ', ' -%}
    {% endif %}

    {%- for project in projects -%}
      {%- assign projectHeadline = '' -%}
      {%- assign projectHashtags = '' -%}
      {%- assign projectImgAlt = '' -%}
      {%- assign projectImgWidth = '' -%}
      {%- assign projectImgHeight = '' -%}
      {%- assign projectLinkUrl = '' -%}
      {%- assign sourceLinkUrl = '' -%}
      {%- assign projectTimestamp = '' -%}
      {%- assign projectDescription = '' -%}
      {%- assign contentfile = '../_data/'
        | appendCurrentLanguageSlug
        | append: '/projects/'
        | append: project
        | append: '.liquid'
      -%}
      {%- include contentfile -%}
      {%- comment -%}
      render does not pass variables, but include does, see
      https://stackoverflow.com/questions/74672545/pass-variables-inside-render-to-outside
      maybe liquid is not the right language in a JS context and Nunjucks would be better?
      {%- endcomment -%}

    {% if showflipsides %}
      <article
        class="flip-box-row"
        id="project-{{ project }}"
        tabindex="0"
      >
          <div class="flip-box-column">
            <img
              src="data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E"
              alt
              width="{{ projectImgWidth | default: '1265' }}"
              height="{{ projectImgHeight | default: '1129' }}"
              class="poster-image flip-height-placeholder"
            >
            <div class="flip-box-front tile">
              <a target="_blank" rel="noopener" href="{{ projectLinkUrl }}" title="{{ projectHeadline }} {{ content.projectWebsite }}">
                <img
                  src="{{ 'img/screenshot-' | append: project | append: '.png' }}"
                  alt="{{ imgalt }}"
                  width="{{ projectImgWidth | default: '1265' }}"
                  height="{{ projectImgHeight | default: '1129' }}"
                  class="poster-image"
                  loading="lazy"
                >
              </a>
          </div>
          <div class="flip-box-back tile">
            <div class="tile-content flex bg-peel">
              <header>
                <h3>{{ projectHeadline }}</h3>
              </header>
              {% if projectTimestamp %}
                <div class="timestamp">{{ projectTimestamp }}</div>
              {% endif %}
              <p>
                {% if showicons %}
                  <img src="img/icon-{{ project }}.svg"
                       alt="{{ projectIconAlt }}"
                       width="{{ projectIconWidth | default: '64' }}"
                       height="{{ projectIconHeight | default: '64' }}"
                       class="project-thumb project-thumb--{{ project }}"
                       loading="lazy">
                {% endif %}
                <span class="text-line">
                {{ projectDescription }}
              </span>
              {% if projectLinkUrl != '' %}
                <div>
                  <a class="code-link print-display-block breakable" target="_blank" rel="noopener" href="{{ projectLinkUrl }}">
                    {{ projectLinkUrl | unprefixedHumanReadableUrl }}
                  </a>
                </div>
              {% endif %}
              {% if sourceLinkUrl != '' %}
                <div>
                  <a class="code-link print-display-block breakable" target="_blank" rel="noopener" href="{{ sourceLinkUrl }}">
                    {{ sourceLinkUrl | unprefixedHumanReadableUrl }}
                  </a>
                </div>
              {% endif %}
              <p>
                {%- assign hashtagsArray = projectHashtags | split: ' ' -%}
                {%- for hashtag in hashtagsArray %}
                  <span class="hashtag">{{ hashtag }}</span>
                {% endfor -%}
              </p>
            </div>
          </div>
        </div>
      </article>

      {% else %}

        <article
          class="tile"
          id="project-{{ project }}"
          tabindex="0"
        >
          <div class="tile-content flex bg-peel">
            <header>
              <h3>{{ projectHeadline }}</h3>
            </header>
            {% if projectTimestamp %}
              <div class="timestamp">{{ projectTimestamp }}</div>
            {% endif %}
            <p>
              {% if showicons %}
                <img src="img/icon-{{ project }}.svg"
                     alt="{{ projectIconAlt }}"
                     width="{{ projectIconWidth | default: '64' }}"
                     height="{{ projectIconHeight | default: '64' }}"
                      class="project-thumb project-thumb--{{ project }}"
                loading="lazy">
              {% endif %}
              <span class="text-line">
                {{ projectDescription }}
              </span>
              {% if projectLinkUrl != '' %}
              <div>
                <a class="code-link print-display-block breakable" target="_blank" rel="noopener" href="{{ projectLinkUrl }}">
                  {{ projectLinkUrl | unprefixedHumanReadableUrl }}
                </a>
              </div>
              {% endif %}
              {% if sourceLinkUrl != '' %}
                <div>
                  <a class="code-link print-display-block breakable" target="_blank" rel="noopener" href="{{ sourceLinkUrl }}">
                    {{ sourceLinkUrl | unprefixedHumanReadableUrl }}
                  </a>
                </div>
              {% endif %}
            </p>
            <p>
              {%- assign hashtagsArray = projectHashtags | split: ' ' -%}
              {%- for hashtag in hashtagsArray %}
                <span class="hashtag">{{ hashtag }}</span>
              {% endfor -%}
            </p>
          </div>
        </article>

      {% endif %}
    {% endfor -%}
