<section class="tiled-content target-offset" id="projects">
  <div class="pl1">
    <h2>{{ content.projectsHeading }}</h2>
    <p>{{ content.projects }}</p>
  </div>

  <div class="grid-container flow-grid">
    {%- assign projects = 'kleiderordnung, fractal, foodtogether, daskannstdutun, shopwareplugin, reactapp, portfolio, wordpress, planted' | split: ', ' -%}
    {%- assign projects = "daskannstdutun" | split: ", " -%}
    {%- for project in projects -%}
      {%- assign header = '' -%}
      {%- assign hashtags = '' -%}
      {%- assign imgalt = '' -%}
      {%- assign description = '' -%}
      {%- assign contentfile = '../_data/'
        | appendCurrentLanguageSlug
        | append: '/projects/'
        | append: project
        | append: '.liquid'
      -%}
      {%- render contentfile -%}
      <article class="tile target-offset flip-box-row" id="{{ project }}">
        <div class="flip-box-column">
          <div class="flip-box-front tile">
            <img
              src="{{ 'img/screenshot-' | append: project | append: '.png' }}"
              alt="{{ imgalt }}"
              width="821"
              height="478"
              class="poster-image"
            >
            <div class="tile-content flex bg-peel">
              <header>
                <h3>{{ headline }}</h3>
              </header>
            </div>

          </div>
          <div class="flip-box-back tile">
            <div class="tile-content flex bg-peel">
              <header>
                <div class="tile-header-repeat">{{ headline }}</div>
              </header>
              <p>
                {{ project | svgIcon }}
              </p>
              <span class="text-line">
                {{ description }}
              </span>
              <p>
                {%- assign hashtagarray = hashtags | split: ' ' -%}
                {%- for hashtag in hashtagarray %}
                <span class="hashtag">{{ hashtag }}</span>
                {% endfor -%}
              </p>
            </div>
          </div>
        </div>
      </article>
    {% endfor -%}
  </div>
</section>
