<section class="tiled-content target-offset" id="projects">
  <div class="pl1">
    <h2>{{ content.projectsHeading }}</h2>
    <p>{{ content.projects }}</p>
  </div>

  <div class="grid-container grid-container--projects">

    {%- assign projects = 'kleiderordnung, fractal, foodtogether, daskannstdutun, shopwareplugin, reactapp, portfolio, wordpress, twistedconnection' | split: ', ' -%}
    {%- for project in projects -%}
      {%- assign projectHeadline = '' -%}
      {%- assign projectHashtags = '' -%}
      {%- assign projectImgAlt = '' -%}
      {%- assign projectImgWidth = '' -%}
      {%- assign projectImgHeight = '' -%}
      {%- assign projectLinkUrl = '' -%}
      {%- assign projectDescription = '' -%}
      {%- assign contentfile = '../_data/'
        | appendCurrentLanguageSlug
        | append: '/projects/'
        | append: project
        | append: '.liquid'
      -%}
      {%- include contentfile -%}
      {%- comment -%}
      render does not pass variables, but include does, see
      https://stackoverflow.com/questions/74672545/pass-variables-inside-render-to-outside
      maybe liquid is not the right language in a JS context and Nunjucks would be better?

      TODO adjust CSS min heights on mobile!
      {%- endcomment -%}
      <article class="target-offset flip-box-row" id="project-{{ project }}" tabindex="0">
        <div class="flip-box-column">
          <div class="flip-box-front tile">
            <div class="flip-box-decoration">
              <img
                src="{{ 'img/screenshot-' | append: project | append: '.png' }}"
                alt="{{ imgalt }}"
                width="{{ projectImgWidth | default: '1265' }}"
                height="{{ projectImgHeight | default: '1129' }}"
                class="poster-image"
                loading="lazy"
              >
            </div>
            <div class="tile-content flex bg-peel">
              <header>
                <h3>{{ projectHeadline }}</h3>
              </header>
              <p>
                <span class="text-line">
                {{ projectDescription }}
              </span>
                <a class="only-print print-display-block"target="_blank" rel="noopener" href="{{ projectLinkUrl }}">
                  {{ projectLinkUrl }}
                </a>
              </p>
              <p>
                {%- assign hashtagsArray = projectHashtags | split: ' ' -%}
                {%- for hashtag in hashtagsArray %}
                  <span class="hashtag">{{ hashtag }}</span>
                {% endfor -%}
              </p>
            </div>
          </div>
          <div class="flip-box-back tile">
            <a target="_blank" rel="noopener" href="{{ projectLinkUrl }}" title="{{ projectHeadline }} {{ content.projectWebsite }}">
              <img
                src="{{ 'img/screenshot-' | append: project | append: '.png' }}"
                alt="{{ imgalt }}"
                width="{{ projectImgWidth | default: '1265' }}"
                height="{{ projectImgHeight | default: '1129' }}"
                class="poster-image"
                loading="lazy"
              >
            </a>
          </div>
        </div>
      </article>
    {% endfor -%}
  </div>
</section>
