<section class="tiled-content target-offset" id="projects">
  <div class="pl1">
    <h2>{{ content.projectsHeading }}</h2>
    <p>{{ content.projects }}</p>
  </div>

  <div class="grid-container flow-grid">

    <article class="target-offset flip-box-row" id="project-daskannstdutun" tabindex="0">
      <div class="flip-box-column">
        <div class="flip-box-front tile">
          <div class="tile-content flex bg-peel">
            <header><h3>Header Versuch 2</h3></header>
            <img src="img/screenshot-daskannstdutun.png" alt="" width="821" height="478"
                 class="poster-image">
            <!-- Das Bild doch innerhalb von .tile-content ? -->
            <!-- dynamisch erzeugt hat es 0px Höhe trotz gleicher
                 Klassennamen wie das funktionierende Beispiel? -->
          </div>
        </div>
        <div class="flip-box-back tile">
          <div class="tile-content flex bg-peel">
            <div class="tile-header-repeat">Header Versuch 2</div>
            <p><img src="img/icon-daskannstdutun.svg" width="24" height="24"
                    class="project-thumb project-thumb--daskannstdutun" loading="lazy" alt=""></p><span
                    class="text-line"></span>
            <!-- ein nicht geöffnetes /span wird hier geschlossen,
                 das resultiert im folgenden <p></p> vor Ende des Divs -->
          </div>
        </div>
      </div>
    </article>

    <article class="target-offset flip-box-row" id="project-kleiderordnung" tabindex="0">
      <div class="flip-box-column">
        <div class="flip-box-front tile">
          <div class="tile-content flex bg-peel">
            <header>
              <h3>Static Example</h3>
              <a href="#project-kleiderordnung-details">more</a>
            </header>
          </div>
        </div>
        <div class="flip-box-back tile">
          <div class="tile-content flex bg-peel">
            <div class="tile-header-repeat">{{ content.projectKleiderordnungHeading }}</div>
            <p>
              <img
                src="img/icon-hanger.svg"
                width="24" height="24"
                class="project-thumb project-thumb--kleiderordnung"
                loading="lazy"
                alt=""
              />
              <span class="text-line">
                  {{ content.projectKleiderordnung1 }}
                   <a
                     href="https://kleiderordnung.berlin/"
                     title="www.kleiderordnung.berlin"
                     target="_blank"
                     rel="noopener"
                   >{{ content.projectKleiderordnung2 }}</a>
                  {{ content.projectKleiderordnung3 }}<br>
                  </span>
              <span class="only-print code-link">www.kleiderordnung.berlin<br></span>
              <span class="text-line">
                    {{ content.projectKleiderordnungCode }}<br>
                  </span>
              <a
                class="code-link"
                href="https://github.com/openmindculture/kleiderordnung-berlin"
                target="_blank"
                rel="noopener"
              >github.com/openmindculture/kleiderordnung-berlin</a>
            </p>
            <p>
              <span class="hashtag">{{ content.projectKleiderordnungHashtag1 }}</span>
              <span class="hashtag">{{ content.projectKleiderordnungHashtag2 }}</span>
              <span class="hashtag">{{ content.projectKleiderordnungHashtag3 }}</span>
              <span class="hashtag">{{ content.projectKleiderordnungHashtag4 }}</span>
              <span class="hashtag">{{ content.projectKleiderordnungHashtag5 }}</span>
            </p>
          </div>
        </div>
      </div>
    </article>




    {%- assign projects = 'kleiderordnung, fractal, foodtogether, daskannstdutun, shopwareplugin, reactapp, portfolio, wordpress, planted' | split: ', ' -%}
    {%- assign projects = "daskannstdutun" | split: ", " -%}
    {%- for project in projects -%}
      {%- assign projectHeadline = '' -%}
      {%- assign projectHashtags = '' -%}
      {%- assign projectImgAlt = '' -%}
      {%- assign projectDescription = '' -%}
      {%- assign contentfile = '../_data/'
        | appendCurrentLanguageSlug
        | append: '/projects/'
        | append: project
        | append: '.liquid'
      -%}
      {%- render contentfile -%}
      <article class="target-offset flip-box-row" id="project-{{ project }}" tabindex="0">
        <div class="flip-box-column">
          <div class="flip-box-front tile">
            <img
              src="{{ 'img/screenshot-' | append: project | append: '.png' }}"
              alt="{{ imgalt }}"
              width="821"
              height="478"
              class="poster-image"
            >
            <div class="tile-content flex bg-peel">
              <header>
                <h3>{{ projectHeadline }}</h3>
              </header>
            </div>

          </div>
          <div class="flip-box-back tile">
            <div class="tile-content flex bg-peel">
                <div class="tile-header-repeat">{{ projectHeadline }}</div>
              <p>
                {{ project | svgIcon }}
              </p>
              <span class="text-line">
                {{ projectDescription }}
              </span>
              <p>
                {%- assign hashtagsArray = projectHashtags | split: ' ' -%}
                {%- for hashtag in hashtagsArray %}
                <span class="hashtag">{{ hashtag }}</span>
                {% endfor -%}
              </p>
            </div>
          </div>
        </div>
      </article>
    {% endfor -%}
  </div>
</section>
