<section class="no-print text-content-layout services-wrapper avoid-page-break">{% comment %}
<!-- This snippet is only used on sub-pages, not on the homepage! -->
<!-- Text content and order variations are intentional to benefit search engine optimization. -->
{% endcomment %}
  <ul class="grid-container services">
    <li class="tile text-content-color">
      <h3 class="font-sans">{{ content.servicesBuildTitleAlternative }}</h3>
      <ul>
        <li>{{ content.servicesBuild4 }}</li>
        <li>{{ content.servicesBuild1 }}</li>
        <li>{{ content.servicesBuild2 }}</li>
        <li>{{ content.servicesBuild3 }}</li>
      </ul>
      <a class="buttonlike" href="../{{ content.servicesBuildMoreLinkPath }}" title="{{ content.servicesBuildMoreLinkTitle }}">{{ content.servicesBuildMoreLinkText }}!</a>
    </li>
    <li class="tile text-content-color">
      <h3 class="font-sans">{{ content.servicesVerifyTitleAlternative }}</h3>
      <ul>
        <li>{{ content.servicesVerify4 }}</li>
        <li>{{ content.servicesVerify1 }}</li>
        <li>{{ content.servicesVerify2 }}</li>
        <li>{{ content.servicesVerify3 }}</li>
      </ul>
      <a class="buttonlike" href="../{{ content.servicesVerifyMoreLinkPath }}" title="{{ content.servicesVerifyMoreLinkTitle }}">{{ content.servicesVerifyMoreLinkText }}!</a>
    </li>
    <li class="tile text-content-color">
      <h3 class="font-sans">{{ content.servicesImproveTitleAlternative }}</h3>
      <ul>
        <li>{{ content.servicesImprove1 }}</li>
        <li>{{ content.servicesImprove2 }}</li>
        <li>{{ content.servicesImprove3 }}</li>
        <li>{{ content.servicesImprove4 }}</li>
      </ul>
      <a class="buttonlike" href="../{{ content.servicesImproveMoreLinkPath }}" title="{{ content.servicesImproveMoreLinkTitle }}">{{ content.servicesImproveMoreLinkText }}!</a>
    </li>
  </ul>
</section>
