<section class="skills-wrapper avoid-page-break">
  <div class="pl1">
    <h2 id="skills" class="target-offset">{{ skillsTitle }}</h2>
  </div>
  <ul class="grid-container skills">
    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsWebdevHeading }}</h3>
      <ul>
        <li>
          <span>React, TypeScript, JavaScript</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-light">React</span>
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-yellow" title="ECMAScript 6">JavaScript (ES6+)</span>
            <span class="hashtag brand-vanilla" title="Vanilla JavaScript">VanillaJS</span>

          </div>
        </li>
        <li>
          <span>{{ content.SkillsWebdevFrontend }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-light">Tailwind</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-rebeccapurple" title="CSS3">CSS 3</span>
            <span class="hashtag brand-blue-purplish">Bootstrap</span>
            <span class="hashtag brand-orange">HTML 5</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsBackDbHeading }}</span>
          <div class="hashtags">
            <span class="hashtag brand-green-twig">Node.js</span>
            <span class="hashtag brand-green">MongoDB</span>
            <span class="hashtag brand-blue-php">PHP</span>
            <span class="hashtag brand-orange">MySQL</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="tile">
      <h3 class="font-sans">CMS, E-Commerce, Web Tech Stacks</h3>
      <ul>
        <li>
          <span>JavaScript, JAM Stack, Web Apps</span>
          <div class="hashtags">
            <span class="hashtag brand-gray-dark">Astro</span>
            <span class="hashtag brand-gray" title="11ty">Eleventy</span>
            <span class="hashtag brand-blue-light">Liquid</span>
            <span class="hashtag brand-yellow">Vite</span>
            <span class="hashtag brand-green-twig">npm</span>
          </div>
        </li>
        <li>
          <span>Shopware 6</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-purplish">Shopware 6</span>
            <span class="hashtag brand-green-twig">Symfony</span>
            <span class="hashtag brand-blue-php">PHP</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-yellow">JS</span>
            <span class="hashtag brand-green-twig">Twig</span>
          </div>
        </li>
        <li>
          <span>WooCommerce, WordPress, Webflow</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-purplish">WooCommerce</span>
            <span class="hashtag brand-blue-less">WordPress</span>
            <span class="hashtag brand-blue">Webflow</span>
          </div>
        </li>
      </ul>
    </li>

    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsOther }}</h3>
      <ul>
        <li>
          <span>{{ content.SkillsOtherQa }}</span>
          <div class="hashtags">
            <span class="hashtag brand-green">Cypress</span>
            <span class="hashtag brand-yellow">Vitest</span>
            <span class="hashtag brand-orange">Playwright</span>
            <span class="hashtag brand-purple">Storybook</span>
            <span class="hashtag brand-green-twig">BrowserStack</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsDevuxImg }}</span>
          <div class="hashtags">
            <span class="hashtag brand-rebeccapurple">{{ content.SkillsA11y }}</span>
            <span class="hashtag brand-red">{{ content.SkillsPrivacy }}</span>
            <span class="hashtag brand-blue-less">Scrum</span>
            <span class="hashtag brand-rebeccapurple">Kanban</span>
            <span class="hashtag brand-red-dark">Git</span>
            <span class="hashtag brand-blue">Docker</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherSystems }}</span>
          <div class="hashtags">
            <span class="hashtag brand-gray-dark">Copilot</span>
            <span class="hashtag brand-rebeccapurple">JetBrains AI</span>
            <span class="hashtag brand-orange">Claude</span>
          </div>
        </li>
      </ul>
    </li>

  </ul>
</section>
