<section class="skills-wrapper avoid-page-break">
  <div class="pl1">
    <h2 id="skills" class="target-offset">{{ skillsTitle }}</h2>
  </div>
  <ul class="grid-container skills">
    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsWebdevHeading }}</h3>
      <ul>
        <li>
          <span>{{ content.SkillsWebdevMarkupHeading }}</span>
          <div class="hashtags">
            <span class="hashtag brand-orange">HTML 5</span>
            <span class="hashtag brand-yellow">Markdown</span>
            <span class="hashtag brand-blue-light">Liquid</span>
            <span class="hashtag brand-green-twig">Twig</span>
          </div>
        </li>
        <li>
          <span>CSS</span>
          <div class="hashtags">
            <span class="hashtag brand-rebeccapurple" title="CSS3">CSS 3</span>
            <span class="hashtag brand-red-light">PostCSS</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-blue-purplish">Bootstrap</span>
            <span class="hashtag brand-blue-light">Tailwind</span>
          </div>
        </li>
        <li>
          <span>JavaScript, TypeScript</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow" title="ECMAScript 6">ES6+</span>
            <span class="hashtag brand-green-twig">npm</span>
            <span class="hashtag brand-blue-light">React</span>
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-vanilla" title="Vanilla JavaScript">VanillaJS</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="tile">
      <h3 class="font-sans">E-Commerce, Web Tech Stacks</h3>
      <ul>
        <li>
          <span>JavaScript, JAM Stack</span>
          <div class="hashtags">
            <span class="hashtag brand-gray-dark">Astro</span>
            <span class="hashtag brand-gray" title="11ty">Eleventy</span>
            <span class="hashtag brand-blue-purplish">fractal</span>
            <span class="hashtag brand-blue-light">React</span>
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-green-twig">Node.js</span>
          </div>
        </li>
        <li>
          <span>Shopware</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-purplish">Shopware 6</span>
            <span class="hashtag brand-blue-php8">PHP 8</span>
            <span class="hashtag brand-blue-purplish">Bootstrap</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-yellow">JS</span>
            <span class="hashtag brand-green-twig">Twig</span>
          </div>
        </li>
        <li>
          <span>WordPress</span>
          <div class="hashtags">
            <span class="hashtag brand-orange">HTML</span>
            <span class="hashtag brand-rebeccapurple">CSS</span>
            <span class="hashtag brand-yellow">JavaScript</span>
            <span class="hashtag brand-blue-php">PHP</span>
            <span class="hashtag brand-blue-purplish">WooCommerce</span>
          </div>
        </li>
      </ul>
    </li>

    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsOther }}</h3>
      <ul>
        <li>
          <span>{{ content.SkillsOtherQa }}</span>
          <div class="hashtags">
            <span class="hashtag brand-green-twig">BrowserStack</span>
            <span class="hashtag brand-green">Cypress</span>
            <span class="hashtag brand-orange">Playwright</span>
            <span class="hashtag brand-purple">Storybook</span>
            <span class="hashtag brand-yellow">Vitest</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsDevuxImg }}</span>
          <div class="hashtags">
            <span class="hashtag brand-rebeccapurple">Kanban</span>
            <span class="hashtag brand-red">Scrum</span>
            <span class="hashtag brand-blue-less">Jira</span>
            <span class="hashtag brand-orange">Figma</span>
            <span class="hashtag brand-red-dark">Git</span>
            <span class="hashtag brand-orange">GitLab</span>
            <span class="hashtag brand-gray-dark">GitHub</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherSystems }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue">Webflow</span>
            <span class="hashtag brand-blue-light">Matomo</span>
            <span class="hashtag brand-gray-light">GIMP</span>
            <span class="hashtag brand-gray-dark">Perplexity</span>
            <span class="hashtag brand-orange">Claude</span>
          </div>
        </li>
      </ul>
    </li>

  </ul>
</section>
