<section class="skills-wrapper avoid-page-break">
  <div class="pl1">
    <h2 id="skills" class="target-offset">{{ skillsTitle }}</h2>
  </div>
  <ul class="grid-container skills">
    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsWebdevHeading }}</h3>
      <ul>
        <li>
          <span>{{ content.SkillsWebdevMarkupHeading }}</span>
          <div class="hashtags">
            <span class="hashtag brand-orange" title="HTML 5">HTML 5</span>
            <span class="hashtag brand-green" title="Markdown">MD</span>
            <span class="hashtag brand-blue-liquid">Freemarker</span>
            <span class="hashtag brand-blue-light">Liquid</span>
            <span class="hashtag brand-green-twig">Twig</span>
            <span class="hashtag brand-beige">Handlebars</span>
          </div>
        </li>
        <li>
          <span>CSS</span>
          <div class="hashtags">
            <span class="hashtag brand-rebeccapurple" title="CSS3">CSS 3</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-red-light">PostCSS</span>
            <span class="hashtag brand-blue-less">Less</span>
            <span class="hashtag brand-blue-light">Tailwind</span>
            <span class="hashtag brand-rebeccapurple">Bootstrap</span>
          </div>
        </li>
        <li>
          <span>JavaScript</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow" title="ECMAScript 6">ES6</span>
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-green">Node.js</span>
            <span class="hashtag brand-blue">jQuery</span>
            <span class="hashtag brand-blue-light">React</span>
            <span class="hashtag brand-vanilla" title="Vanilla JavaScript">VanillaJS</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsWebdevDb }}</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow">MySQL</span>
            <span class="hashtag brand-red-dark">Oracle</span>
            <span class="hashtag brand-green">mongoDB</span>
            <span class="hashtag brand-gray-light">Mongoose</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsLib }}</h3>
      <ul>
        <li>
          <span>JAM Stack</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow" title="ECMAScript 6">JavaScript</span>
            <span class="hashtag brand-gray-dark">Astro</span>
            <span class="hashtag brand-gray" title="11ty">Eleventy</span>
            <span class="hashtag brand-blue-purplish">fractal</span>
            <span class="hashtag brand-green">Netlify</span>
          </div>
        </li>
        <li>
          <span>Shopware</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-purplish">Shopware 6</span>
            <span class="hashtag brand-blue-php8">PHP 8</span>
            <span class="hashtag brand-red-dark">Bootstrap</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-yellow">JS</span>
            <span class="hashtag brand-green-twig">Twig</span>
          </div>
        </li>
        <li>
          <span>WordPress</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-less">WordPress</span>
            <span class="hashtag brand-blue-php">PHP</span>
            <span class="hashtag brand-orange">HTML</span>
            <span class="hashtag brand-green">CSS</span>
            <span class="hashtag brand-yellow">JS</span>
            <span class="hashtag brand-purple">WooCommerce</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherSystems }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue">Webflow</span>
            <span class="hashtag brand-blue-light">Matomo</span>
            <span class="hashtag brand-purple">PhpStorm</span>
            <span class="hashtag brand-gray-dark">Inkscape</span>
            <span class="hashtag brand-gray-light">GIMP</span>
          </div>
        </li>
      </ul>
    </li>

    <li class="tile">
      <h3 class="font-sans">{{ content.SkillsOther }}</h3>
      <ul>
        <li>
          <span>{{ content.SkillsOtherQa }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue">Axe</span>
            <span class="hashtag brand-yellow-dark">BrowserStack</span>
            <span class="hashtag brand-yellow">CodeceptJS</span>
            <span class="hashtag brand-green">Cypress</span>
            <span class="hashtag brand-blue-liquid">WAVE</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherVcs }}</span>
          <div class="hashtags">
            <span class="hashtag brand-red-dark">Git</span>
            <span class="hashtag brand-gray-dark">GitHub</span>
            <span class="hashtag brand-orange">GitLab</span>
            <span class="hashtag brand-green">SVN</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsDevuxImg }}</span>
          <div class="hashtags">
            <span class="hashtag brand-red">Scrum</span>
            <span class="hashtag brand-rebeccapurple">Kanban</span>
            <span class="hashtag brand-blue-less">Jira</span>
            <span class="hashtag brand-orange">Figma</span>
            <span class="hashtag brand-coral">asana</span>
            <span class="hashtag brand-red-dark">Trello</span>
            <span class="hashtag brand-gray-dark">GitHub</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherDevops }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue">Docker</span>
            <span class="hashtag brand-yellow">esbuild</span>
            <span class="hashtag brand-blue-php8">Snowpack</span>
            <span class="hashtag brand-blue-liquid">Webpack</span>
            <span class="hashtag brand-green">Netlify</span>
          </div>
        </li>
      </ul>
    </li>

  </ul>
</section>
