<section class="skills-wrapper avoid-page-break">
  <h3 id="skills" class="font-sans target-offset">{{ skillsTitle }}</h3>
  <ul class="grid-container skills">
    <li class="tile">
      <h4 class="font-sans">{{ content.SkillsWebdevHeading }}</h4>
      <ul>
        <li>
          <span>Markup, Templating</span>
          <div class="hashtags">
            <span class="hashtag brand-orange" title="HTML 5">HTML 5</span>
            <span class="hashtag brand-green" title="Markdown">MD</span>
            <span class="hashtag brand-blue-liquid">Freemarker</span>
            <span class="hashtag brand-blue-light">Liquid</span>
            <span class="hashtag brand-green-twig">Twig</span>
            <span class="hashtag brand-beige">handlebars</span>
          </div>
        </li>
        <li>
          <span>CSS</span>
          <div class="hashtags">
            <span class="hashtag brand-green" title="CSS3">CSS 3</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-red-light">PostCSS</span>
            <span class="hashtag brand-blue-light">tailwind</span>
            <span class="hashtag brand-blue-less">less</span>
            <span class="hashtag brand-purple-dark">Bootstrap</span>
          </div>
        </li>
        <li>
          <span>JavaScript</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow" title="ECMAScript 6">ES6</span>
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-green">Node.js</span>
            <span class="hashtag brand-blue">jQuery</span>
            <span class="hashtag brand-blue-light">React</span>
            <span class="hashtag brand-vanilla" title="Vanilla JavaScript">VanillaJS</span>
          </div>
        </li>

        <li>
          <span>PHP</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-php">PHP 7</span>
            <span class="hashtag brand-blue-php8">PHP 8</span>
            <span class="hashtag brand-yellow">Symfony</span>
            <span class="hashtag brand-coral">Composer</span>
            <span class="hashtag brand-green-twig">PHPStan</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsWebdevDb }}</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow">MySQL</span>
            <span class="hashtag brand-red-dark">Oracle</span>
            <span class="hashtag brand-green">mongoDB</span>
            <span class="hashtag brand-gray-light">Mongoose</span>
          </div>
        </li>
        <li>
          <span>XML</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow">XPath</span>
            <span class="hashtag brand-purple">XSLT</span>
            <span class="hashtag brand-red-dark">SOAP</span>
            <span class="hashtag brand-gray">UBL</span>
          </div>
        </li>

      </ul>
    </li>
    <li class="tile">
      <h4 class="font-sans">{{ content.SkillsLib }}</h4>
      <ul>
        <li>
          <span>JAM Stack, {{ content.SkillsLibStaticSiteGenerators }}</span>
          <div class="hashtags">
            <span class="hashtag brand-yellow">JavaScript</span>
            <span class="hashtag brand-gray" title="11ty">Eleventy</span>
            <span class="hashtag brand-green">Markdown</span>
            <span class="hashtag brand-blue-liquid">Liquid</span>
            <span class="hashtag brand-red-dark">npm</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsLibDesignSystems }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-purplish">fractal</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-orange">Handlebars</span>
            <span class="hashtag brand-blue-liquid">Webpack</span>
            <span class="hashtag brand-yellow">CodeceptJS</span>
          </div>
        </li>
        <li>
          <span>Shopware 6</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-purplish">Shopware</span>
            <span class="hashtag brand-red-dark">Bootstrap</span>
            <span class="hashtag brand-purple">SCSS</span>
            <span class="hashtag brand-yellow">JS</span>
            <span class="hashtag brand-green-twig">Twig</span>
            <span class="hashtag brand-yellow">Symfony</span>
          </div>
        </li>
        <li>
          <span>WordPress</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-less">WordPress</span>
            <span class="hashtag brand-blue-php">PHP</span>
            <span class="hashtag brand-orange">HTML</span>
            <span class="hashtag brand-green">CSS</span>
            <span class="hashtag brand-yellow">JS</span>
            <span class="hashtag brand-purple">WooCommerce</span>
          </div>
        </li>
        <li>
          <span>LAMP Stack</span>
          <div class="hashtags">
            <span class="hashtag brand-blue-less">Linux</span>
            <span class="hashtag brand-red-light">Apache</span>
            <span class="hashtag brand-yellow">MySQL</span>
            <span class="hashtag brand-blue-php">PHP</span>
            <span class="hashtag brand-green">nginx</span>
          </div>
        </li>
        <li>
          <span>MERN Stack</span>
          <div class="hashtags">
            <span class="hashtag brand-green">mongoDB</span>
            <span class="hashtag brand-red-light">Express</span>
            <span class="hashtag brand-purple-dark">(P)react</span>
            <span class="hashtag brand-green">Node.js</span>
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-blue-php8">yarn</span>
          </div>
        </li>
      </ul>
    </li>

    <li class="tile tile--verbose">
      <h4 class="font-sans">{{ content.SkillsOther }}</h4>
      <ul>
        <li>
          <span>{{ content.SkillsOtherQa }}</span>
          <div class="hashtags">
            <span class="hashtag brand-orange">Axe</span>
            <span class="hashtag brand-coral">Lighthouse</span>
            <span class="hashtag brand-beige">Storybook</span>
            <span class="hashtag brand-yellow">CodeceptJS</span>
            <span class="hashtag brand-yellow-dark">Browserstack</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherLinter }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue">TypeScript</span>
            <span class="hashtag brand-yellow">Babel</span>
            <span class="hashtag brand-coral">Stylelint</span>
            <span class="hashtag brand-beige">eslint</span>
            <span class="hashtag brand-green">esbuild</span>
            <span class="hashtag brand-red-light">PostCSS</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsDevuxImg }}</span>
          <div class="hashtags">
            <span class="hashtag brand-red">Scrum</span>
            <span class="hashtag brand-purple-dark">Kanban</span>
            <span class="hashtag brand-blue-less">Jira</span>
            <span class="hashtag brand-red-dark">Trello</span>
            <span class="hashtag brand-orange">fractal</span>
            <span class="hashtag brand-coral">asana</span>
            <span class="hashtag brand-gray-light">GitHub</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherVcs }}</span>
          <div class="hashtags">
            <span class="hashtag brand-red-dark">Git</span>
            <span class="hashtag brand-red-light">GitLab</span>
            <span class="hashtag brand-gray-light">GitHub</span>
            <span class="hashtag brand-green">SVN</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherDevops }}</span>
          <div class="hashtags">
            <span class="hashtag brand-blue">Docker</span>
            <span class="hashtag brand-red">Jenkins</span>
            <span class="hashtag brand-blue-php8">Snowpack</span>
            <span class="hashtag brand-blue-liquid">Webpack</span>
            <span class="hashtag brand-green">Netlify</span>
          </div>
        </li>
        <li>
          <span>{{ content.SkillsOtherImg }}</span>
          <div class="hashtags">
            <span class="hashtag brand-brown-light">GIMP</span>
            <span class="hashtag brand-gray-dark">Inkscape</span>
            <span class="hashtag brand-yellow">ImageMagick</span>
            <span class="hashtag brand-beige">SVG</span>
            <span class="hashtag brand-green-twig">webp</span>
            <span class="hashtag brand-orange">guetzli</span>
          </div>
        </li>
      </ul>
    </li>

  </ul>
</section>
