---
tags: addtositemap
isaboutme: true
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-creative-web-developer.png"
previewtitle: "About Ingo Steinke, Front-End Web Developer"
previewdescription: "Ingo Steinke is a front-end focused web developer with over 25 years of professional experience, focused on accessibility, loading speed and maintainability."
permalink: "about-me.html"
canonicalhref: "https://www.ingo-steinke.com/about-me.html"
canonicalhreflang: "en"
alternatelink: "https://www.ingo-steinke.de/ueber-mich.html"
alternatehreflang: "de"
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Web developer Ingo Steinke: about me</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
  <div class="page-content">
    <header class="jumbotronHeader" id="jumbotronHeader">
      <br>
      {% include './_includes/jumbotron-image.liquid' %}
      <h1>Ingo Steinke</h1>
      <p class="tagline center">About me</p>
    </header>
    {% include '../_includes/navigation-on-subpages.liquid', headerClassName: 'wide' %}
    <main id="content-top" class="target-offset">
      <section class="text-content-layout text-content-color semitransparent avoid-page-break">
        <div class="only-print timestamp top-timestamp">
          Berlin,
          {{ "now" | date: "%d" }}{{ content.dotIfGerman }}
          {{ "now" | date: "%m" | customLocalizedMonthNameFilter }}
          {{ "now" | date: "%Y" }}
        </div>
        <h2 class="target-offset" id="about-me">
          {{ content.aboutMeHeading }}
        </h2>
        <article class="text-width">
          <p>I'm Ingo Steinke, a Berlin-based and front-end focused web developer with over 25 years of professional experience. When developing elegant and easy-to-use websites and web apps, I pay attention to accessibility, loading speed and maintainability. HTML, CSS, JavaScript and TypeScript are among my skils as a web developer with a frontend focus. Since 2024, I am a <a href="/services/certified-shopware-developer-berlin.html">certified Shopware developer</a>.
          </p>
          <p class="no-print">Download CV, projects list, and skills matrix as a PDF file:</p>
          <ul class="no-print">
            <li><a href="../Ingo-Steinke-Frontend-Web-Entwickler-CV-2025-10.pdf" target="_blank"
                   rel="noopener noreferrer">Ingo Steinke, Frontend-Web-Entwickler, Berlin: CV, Skills, Projekte</a>
              (deutsch)
            </li>
            <li><a href="../Ingo-Steinke-Frontend-Web-Developer-CV-2025-10.pdf" target="_blank"
                   rel="noopener noreferrer">Ingo Steinke, frontend web developer, Berlin: CV, skills, projects</a>
              (englisch)
            </li>
          </ul>
        </article>
        {% include '../_includes/image-align-right-ingo-laptop.liquid' %}
        <article class="text-width">
          <header>
            <h3>
              {{ content.aboutMeIntroHeading }}
            </h3>
          </header>
          <p class="capitalized"><!-- overcapitalize first letter -->
            {{ content.aboutMeIntro }}
          </p>
          <br class="only-print">

          <section class="avoid-page-break">
            <h3>{{ content.aboutMeCvHeading }}</h3>
            <p>
              Interactive websites and browser games were the first products of my start-up, which I co-founded in Münster in 2000. Search engine optimization and our own CMS and e-commerce software later became our core business.
            </p>
            <p>
              An e-commerce engineer at Xsite in Düsseldorf from 2010 to 2014, I developed online shops for Shop-Apotheke.com, the art delivery servicce Ars mundi, and other customers. As a web developer and technical consultant at Sevenval Technologies (later Avenga Germany) in Cologne and Berlin, I optimized the loading time and mobile phone compatibility of online shops and websites for Frankfurter Allgemeine Zeitung, ZEIT and Otto Group and created frontend applications with React, JavaScript and CSS.
            </p>
            <h3>Frontend-Freelancer</h3>
            <p>
              I'm a freelance senior frontend web developer since 2020, working for agencies and individual customers. I live in Berlin since 2022, but I often work online and I'm ready to travel. I became a certified Shopware developer in 2024.
            </p>
          </section>

          <section class="avoid-page-break">
            <h3 id="network" class="target-offset">Network and Business Partners</h3>
            <p>
              As a freelance web developer I am part of a network of designers, developers and other experts. I am a member of Impact Hub Berlin. I'm a freelance web application developer for <a href="https://defacto-ci.ch/projektteam/" target="_blank" rel="noopener">defacto|ci</a> and freelance web developer for <a href="https://railslove.com/" target="_blank" rel="noopener">Railslove</a>.
            </p>
          </section>

          <section class="avoid-page-break no-clear">
            <h3>Events and Talks</h3>
            <p>
              From 2019 to 2021, I co-hosted the Cologne Web Performance meetup. Previously, I volunteered in the New Media in Education Working Group and as organiser and chair of Skate Association Germany e.V. I actively participate in professional discussions and write
              <a href="https://dev.to/ingosteinke" target="_blank" rel="noopener">blog posts</a> about technological topics.
            </p>
            <p>
              {{ content.talks2 }}
            <ul>
              <li>
                <a
                  href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/274558354/"
                  hreflang="de"
                  target="_blank"
                  rel="noopener"
                >
                  {{ content.talkMeetupWebVitals }}
                </a>
                {{ content.talkMeetupWebVitals2 }}
              </li>
              <li>
                <a
                  href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                  hreflang="de"
                  target="_blank"
                  rel="noopener"
                >
                  {{ content.talkPerformanceNoCode }}
                </a> {{ content.talkPerformanceNoCode2 }}
              </li>
              <li>
                <a
                  href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/255856182/"
                  hreflang="de"
                  target="_blank"
                  rel="noopener"
                >
                  {{ content.talkHsts }}
                </a>
                {{ content.talkHsts2 }}
              </li>
              <li>
                <a
                  href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/zdnjlmywhbgb/"
                  hreflang="de"
                  target="_blank"
                  rel="noopener"
                >
                  {{ content.talkInfrastructure }}
                </a>
                {{ content.talkInfrastructure2 }}
              </li>
            </ul>
            </p>
          </section>

        </article>

        {% include '../_includes/image-align-right-ingo-coworking.liquid' %}

        <article class="text-width">

          <section class="avoid-page-break no-clear">
            <h4>{{ content.aboutMeEthicalHeading }}</h4>
            <p>
              Digitalisation can be economically, socially and environmentally sustainable. Synergies arise, for example, when efficient development saves energy and costs, and accessible services open up new customer groups.
            </p>
            <p>
              Thanks to my experience, we can elegantly comply with legal requirements such as the General Data Protection Regulation or the European Accessibility Act.
            </p>
            <h4>What can I do for you?</h4>
            <p>
              Contact me to schedule a non-binding appointment!<br>
              You can reach me by phone, email, messenger or my contact form.<br>
              If I can't take a call, please leave me a voice message!<br>
              <br>
              I'm looking forward to working with you!
            </p>
          </section>
        </article>
        <div class="cta-container">
          <a href="../#contact" class="buttonlike contact-link">get in touch</a>
        </div>
      </section>
    </main>
    <footer class="page-footer"><aside>
      <p class="no-print">
        <button class="animation-toggle">{{ content.buttonToggleAnimation }}</button>
      </p>
      <p class="landingpage--links no-print">
        <a href="../#imprint">{{ content.targetImprint }}</a>
        <a href="../#privacy">{{ content.targetPrivacy }}</a>
        <a href="{{ content.landingLinkUrlSitemap }}">{{ content.landingLinkTextSitemap }}</a>
      </p>
      <div class="legal legal--copyright">
        <span class="copyright-icon">&copy;</span>
        <span class="copright-date">{{ "now" | date: "%Y" }}</span>
        <span class="copyright-author">{{ content.imprintName }}</span>
        <span class="copyright-details">
          ({{ content.updatedWithColon }}
          {{ "now" | date: "%d" }}{{ content.dotIfGerman }}
          {{ "now" | date: "%m" | customLocalizedMonthNameFilter }}
          {{ "now" | date: "%Y" }})
        </span>
      </div>
      </aside></footer>
    <div id="pdf-container" class="only-print initially-hidden pdf-container"></div>
  </div>
</div>
</body>
</html>
