---
tags: addtositemap
isprojects: true
imgdirectory: "../img"
previewimage: "https://www.ingo-steinke.com/img/preview-creative-web-developer.png"
previewtitle: "Projekte, Referenzen und Fallstudien - Webentwickler Ingo Steinke"
previewdescription: "Ingo Steinkes Projekte und Fallstudien im Überblick."
permalink: "projekte/index.html"
canonicalhref: "https://www.ingo-steinke.com/projekte/"
canonicalhreflang: "de"
alternatelink: "https://www.ingo-steinke.de/projects/"
alternatehreflang: "en"
---
{% comment %}TODO:
Hier die vollständige Projektliste, die von Home angeteasert wird.
Bessere Projektbeschreibungen, vgl. neuer CV, mit gesuchten Keywords!
und Worte, die echte (auch kleine) Kunden schrieben.
Testimonials hier auch (Referenzen in beiden Bedeutungen).
Worte:
 Projekte
 Portfolio
 Refernzen
 Webentwickler
 Web
 Entwickler
 Ingo Steinke

Ziele:
- SEO/SEM-Marketing
- EAAT Authority durch authentische Case-Study-Form mit Fakten bzw. Claims based on first-hand expertise/experience
- Keywords fachlich und vertikal

Keine Case Studies für kleine WordPress-Projekte, aber ggf. Erfolge und Screenshots mit schöner Typografie, responsivem Layout und erfoglreichem Performance-Score bei Page Speed Insights zusammen mit Testimonial-Zitaten auf der WordPress-Unterseite wiederholen.

<ul>
  <li><a href="/projekte/astro-{% render name %}">Astro React dX</a></li>
  <li>Shopware-Plugin und FoodTogether</li>
  <li>Shopware-Demo total cost vs. WooCommerce</li>
  <li>Kleiderordnung</li>
  <li>wao: Keywords, Archiv, Screenshots als Ersatz für öffentliches Live-Projekt</li>
</ul>

A well-structured case study typically includes:

The Challenge: Describe the problem that the client faced.
The Solution: Explain how your product or service addressed the issue.
The Results: Highlight the measurable outcomes, such as increased efficiency or revenue.

For example, a tech company might illustrate how their software improved a client’s productivity by 30%. Including quotes from clients adds authenticity and relatability. Visual elements like before-and-after photos or charts can enhance the narrative.

4. textarbeit hat auch Priorität aber Bilder wären für die Case Studies ist auch super. Synergie der allgemeinen benefit Seiten und der konkreten case studies, und all das in kurzform auch in den neuen cv einbauen und die projektbeschreibungen eventuell entsprechend anpassen.

bei case studies und Hack cv die Sprache der Kunden aufgreifen aus zweierlei Gründen erstens um ähnliche Kunden anzulocken und zweitens als Insider Hinweis falls jemand es wieder erkennt.

eigentlich fangen wir nur mit vier Kunden an rails love Linux Hotel und Felix und vier nämlich tina und kooperationsvereinbarung etwas frei formuliert bei case studies als Beispiel für einen wartungsvertrag nennen will wo er mir vorab Budget für Updates und proaktive Verbesserung gegeben hätte.

somit umso mehr 100-prozentig bei rails und Hotel aber nicht bei nexo oder 4L. sondern dort eher an einen fiktiven besseren Kunden anpassen bzw überhaupt die Sprache der aktuellen lieblingskunden auch auf die anderen Fälle übertragen. so dass alle mehr wie rails love klingen wenn man mehr Race love mäßige Kunden anziehen möchte.

Die Tech stacks entsprechend erweitern dass man ein stärkeres Match hat aber dafür sorgen dass CSS und Frontend dominiert.

gibt es für die vermeintliche messbarkeit von erfolgen auch Schlüsselwörter von den Zahlen abgesehen Wörter wie gesteigert Umsatz besucherzahl fehlerquote laufende Kosten serverlast KPI was auch immer, ähnlich wie ich mich frage ob es zu first hand experience SEO etwas bringt einfach nur zu behaupten mit Worten was die KI aber auch könnte zu sagen meiner Erfahrung nach ich habe beobachtet in einem konkreten Fall in einer Studie Messwerte Ergebnisse und so weiter, und wie viel es bringt quasi zu beweisen dass ich im wirklichen Leben auf Events unterwegs bin und Kunden treffe? zumal wenn es gar nicht wirklich relevant ist, vielleicht sollte man auch lieber mal eine Zoom Situation zeigen in der case study mit Quellcode und so Meeting und das mit Felix zusammen das würde für ihn nicht lange dauern und für mich ein großer Gewinn werden.

solcherlei Clickbait?
Increase Your Sales by 70%
From Frontend to Backend in 90 Days
How We Launched 10x Faster in Production
55.6% Ersparnisse

Fokus verschieben: Von Technologie zu Mehrwert
Nachhaltige E-Commerce-Lösung für ein lokales Unternehmen, optimiert für Performance, SEO und einfache redaktionelle Pflege (WooCommerce, Custom Theme, Performance Tuning) oder Hochperformante Website für ein lokales Studio – SEO-optimiert, barrierefrei und leicht pflegbar.
Stelle also den Nutzen oder das Ziel des Projekts in den Vordergrund, nicht das Tool. Dass im Backend WordPress steckt, kann in einem Nebensatz oder gar nicht erwähnt werden.

Startseite:
Kleiderordnung, Shopware-Plugin, Twisted Connection,
Kunnig Finanzberaterin, Design System STRABAG, React Web-App wao

Projekte:
Kleiderordnung, Shopware-Plugin, Twisted Connection,
Kunnig Finanzberaterin, Design System STRABAG, Entwickler-Portfolio ISD,
FoodTogether, gemeva Portfolio, React Web-App wao

ohne zusätzliche Zeile könnte ich statt Food Together und gemeva hier etwas anderes featuren ...

zum Vergleich der getunte CV:
+ dX wegen React, TypeScript, Astro etc.
+ Railslove/sedo als namhafter Online-Dienstleister
= Kunnig Frontend Finanzberaterin
= Full-Stack-Web-Entwicklung ISD (dann auf der Website auch so bezeichnen)
= Kleiderordnung
= FoodTogether (auch hier das Wording anpassen)
= Shopware-Plugin hier auch mit Kunde FoodTogether (auch hier das Wording anpassen)
= Design System STRABAG
= React Web-App wao

also kommt gemeva raus, und damit es zahlenmäßig und vom Layout passt und voll konsistent,
müsste auch noch Twisted Connection raus, das zwar Natascha konkret so gut gefiel,
aber als kleines WordPress-Projekt eigentlich nicht unbedingt in die Liste gehört - Ich denke ich lasse TC
und nehme FT wieder raus, nenne sie dafür aber auch auf der Website als Kunde für das Shopware-Plugin
{% endcomment %}
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Projekte, Referenzen und Fallstudien - Webentwickler Ingo Steinke</title>
    {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast">
<div class="page-container" id="top">
    <div class="page-content">
        <header class="jumbotronHeader" id="jumbotronHeader">
            <br>
            {% include './_includes/jumbotron-image.liquid' %}
            <div class="overline center">Ingo Steinke</div>
            <h1 class="tagline center">Projekte, Referenzen und Fallstudien</h1>
        </header>
        {% include '../_includes/navigation-on-subpages.liquid', headerClassName: 'wide' %}
        <main id="content-top" class="target-offset">
            <section class="text-content-layout text-content-color semitransparent avoid-page-break">
                <div class="only-print timestamp top-timestamp">
                    Berlin,
                    {{ "now" | date: "%d" }}{{ content.dotIfGerman }}
                    {{ "now" | date: "%m" | customLocalizedMonthNameFilter }}
                    {{ "now" | date: "%Y" }}
                </div>
                <h2 class="target-offset" id="about-me">
                  Überzeuge dich von meiner Arbeit!
                </h2>
                <article class="text-width">
                    <p>
                      Ausgewählte Arbeitsproben, Kundenstimmen und Fallstudien zeigen den Mehrwert meiner Arbeit als Webentwickler: schöne, effiziente und erfolgreiche Websites, Web-Apps und Online-Shops, die konvertieren und dabei alle Vorgaben zu Barrierefreiheit und Datenschutz beachten.
                    </p>
                </article>
            </section>

          <section class="tiled-content target-offset" id="projects">
            <div class="pl1">
              <h2>Projekte: Websites, Shops und Case Studies</h2>
            </div>
            <div class="grid-container grid-container--projects flip-box-container">
              {% include './_includes/projects.liquid',
                projectlist: 'kleiderordnung, shopwareplugin, twistedconnection',
                showflipsides: 'showflipsides',
                showtimestamps: 'showtimestamps'
              %}
              {% include './_includes/projects.liquid',
                projectlist: 'kunnigkonsulting, dxastroreact, nativetheme, fractal, portfolio, reactapp',
                showicons: 'showicons',
                showtimestamps: 'showtimestamps'
              %}
            </div>
          </section>

          <section class="text-content-layout text-content-color semitransparent avoid-page-break">
            <h2 class="target-offset" id="testimonials">
              Referenzen (Testimonials): Was meine Kunden sagen
            </h2>
            <div class="testimonials">
              <figure class="testimonial">
                <figcaption>
                  {{ content.testimonialDanielaAuthor }}:
                  <span class="stars" title="{{ content.testimonialsFiveStarRating }}"></span>
                </figcaption>
                <blockquote>{{ content.testimonialDanielaQuote }}</blockquote>
              </figure>
              <figure class="testimonial" lang="{{ content.  testimonialManuelaQuoteLang }}">
                <figcaption>
                  {{ content.testimonialManuelaAuthor }}:
                  <span class="stars" title="{{ content.testimonialsFiveStarRating }}"></span>
                </figcaption>
                <blockquote lang="{{ content.  testimonialManuelaQuoteLang }}">{{ content.testimonialManuelaQuote }}</blockquote>
              </figure>
              <figure class="testimonial">
                <figcaption>
                  {{ content.testimonialPatriciaAuthor }}:
                  <span class="stars" title="{{ content.testimonialsFiveStarRating }}"></span>
                </figcaption>
                <blockquote>{{ content.testimonialPatriciaQuote }}</blockquote>
              </figure>
            </div>

            <a href="{{ content.testimonialsReadMoreLinkUrl1 }}" target="_blank" rel="noopener nofollow">
              {{ content.testimonialsReadMoreText1 }}
            </a>
            <div class="cta-container">
              <a href="../#contact" class="buttonlike contact-link">jetzt Kontakt aufnehmen!</a>
            </div>
          </section>

        </main>
      {% include '../_includes/page-footer-on-subpages.liquid' %}
    </div>
</div>
</body>
</html>
