<!doctype html>
<html lang={{ content.language }}>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
      {{ content.pageTitle }}
    </title>
    <meta name=language content={{ content.language }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* heading font serif */
      @font-face {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src:
          local(''),
          url('fonts/bitter-v16-latin-700.woff2') format('woff2'),
          url('fonts/bitter-v16-latin-700.woff') format('woff');
      }

      /* body font sans */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src:
          local(''),
          url('fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'),
          url('fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff');
      }
      {%- postcss -%}
        {% include critical.css %}
      {%- endpostcss -%}
    </style>
    <link rel="preload" href="fonts/bitter-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/montserrat-v15-latin-ext_latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" media="screen" href="styles.css">
    <script src="js/scripts.js"></script>
    <link rel="stylesheet" media="none" onload="this.media='screen'" href="decoration.css">
    <link rel="stylesheet" media="print" href="print.css">
    <meta name=author content="{{ content.metaAuthor }}">
    <meta
      property="og:title"
      content="{{ content.pageTitle }}"
    >
    <meta
      property="og:description"
      content="{{ content.pageDescription }}"
    >
    <meta name=description content="{{ content.pageDescription }}">
    <meta name=keywords content="{{ content.pageKeywords }}">
    <meta name="p:domain_verify" content="{{ content.pDomainVerify }}"/>
    <meta name="google-site-verification" content="{{ content.googleSiteVerification }}"/>
    <meta name=robots content="index,follow">
    <meta
      property="og:image"
      content="{{ content.canonicalHref }}img/Ingo-Steinke-portrait-2020.jpg"
    >
    <meta
      name="twitter:card"
      content="{{ content.pageDescription-en }}"
    >
    <meta name="twitter:site" content="@fraktalisman">
    <meta name="twitter:creator" content="@fraktalisman">
    <meta
      property="og:url"
      content="{{ content.canonicalHref }}"
    >
    <link
      rel="canonical"
      href="{{ content.canonicalHref }}"
    >
    <link
      rel="alternate"
      hreflang="{{ content.alternateHreflang }}"
      href="{{ content.alternateHref }}"
    >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="page-container" id="top">
      <div class="page-content">
        <header class="jumbotronHeader" id="jumbotronHeader">
          <img
            src="img/Ingo-Steinke-portrait-2020.jpg"
            srcset="img/Ingo-Steinke-portrait-2020-496.jpg 2x,
                    img/Ingo-Steinke-portrait-2020-992.jpg 4x"
            width="248"
            height="248"
            alt="{{ content.jumbotronImageAlt }}"
            class="avatar"
          >
          <h1>{{ content.jumbotronHeader }}</h1>
          <p class="tagline">{{ content.jumbotronTagline }}</p>
        </header>
        <div class="sticky-header is-nav-closed" id="sticky-header">
          <div class="wrapper">
            <span class="raised-layer">
              <span class="scripted hideable" id="sticky-headline">
                <a href="#top">
                  <img
                    src="img/Ingo-Steinke-portrait-2020.jpg"
                    width="25"
                    height="25"
                    alt="{{ content.linkToTop }}"
                    class="avatar"
                  />
                  {{ content.jumbotronHeader }}
                </a>
              </span>
            </span>

            <span class="nav-wrapper">
              <a href="#main-menu"
                id="main-menu-toggle"
                class="menu-toggle"
                aria-label="{{ content.menuOpen }}">
                <span class="sr-only">{{ content.menuOpen }}</span>
                {{ content.menuButton }}
              </a>

              <nav
                id="main-menu"
                class="main-menu page-navigation"
                aria-label="{{ content.menuLabel }}"
              >
                <a
                  href="#main-menu-toggle"
                  id="main-menuClose"
                  class="menuClose"
                  aria-label="{{ content.menuClose }}"
                >
                  <svg viewBox="0 0 512 512" width="16" height="16">
                    <g>
                      <path d="m25 512a25 25 0 0 1 -17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462a24.93 24.93 0 0 1 -17.68 7.32z" fill="currentColor"/>
                      <path d="m487 512a24.93 24.93 0 0 1 -17.68-7.32l-462-462a25 25 0 0 1 35.36-35.36l462 462a25 25 0 0 1 -17.68 42.68z" fill="currentColor"/>
                    </g>
                  </svg>
                </a>
                <ul>
                  <li><a href="#projects">{{ content.targetProjects }}</a></li>
                  <li><a href="#skills">{{ content.targetSkills }}</a></li>
                  <li><a href="#about-me">{{ content.targetAboutMe }}</a></li>
                  <li><a href="#talks-events">{{ content.targetTalksEvents }}</a></li>
                  <li><a href="#contact">{{ content.targetContact }}</a></li>
                  <li><a href="#imprint">{{ content.targetImprint }}</a></li>
                  <li><a href="#privacy">{{ content.targetPrivacy }}</a></li>
                  <li>
                    <a
                      href="{{ content.alternateHref }}"
                      hreflang="{{ content.alternateHreflang }}"
                      lang="{{ content.alternateHreflang }}"
                      title="{{ content.targetOtherLanguageTitle }}"
                      id="language-switch"
                    >{{ content.targetOtherLanguage }}</a>
                  </li>
                </ul>
              </nav>

              <a href="#main-menu-toggle"
                class="backdrop"
                tabindex="-1"
                aria-hidden="true"
                hidden>
              </a>
            </span>

            </div>

        </div>

        <main id="content-top" class="target-offset">
          <section class="text-content-layout text-content-color">
            <h2>{{ content.introHeading }}</h2>
            <article class="text-width">
              <!-- article lacks heading -->
              <p>
                {{ content.intro }}
                <a href="https://www.avenga.com/" target="_blank" rel="noopener nofollow">Avenga</a>,
                <a href="https://www.nexum.de/" target="_blank" rel="noopener nofollow">nexum</a>,
                <a href="https://www.wandelpunkt-consulting.de/" target="_blank" rel="noopener">Wandelpunkt Consulting</a>
                {{ content.and }}
                <a href="https://planted.green" target="_blank" rel="noopener">Planted</a>.
              </p>

              <h3>{{ content.workWithMeHeading }}</h3>

              <p>
                {{ content.workWithMe }}<br>
                <a href="#contact">{{ content.ctaContact }}</a>
                <br>
                {{ content.workWithMe2 }}
              </p>

            </article>
          </section>

          <section class="tiled-content target-offset" id="projects">
            <div class="pl1">
              <h2>{{ content.projectsHeading }}</h2>
              <p>{{ content.projects }}</p>
            </div>

            <div class="grid-container flow-grid">

              <article class="tile target-offset" id="project-portfolio-relaunch">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectPortfolioRelaunchHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-varnish.svg"
                      width="512" height="512"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectPortfolioRelaunch1 }}
                      <a href="{{ content.canonicalHref }}">{{ content.projectPortfolioRelaunch2 }}</a> {{ content.projectPortfolioRelaunch3 }}<br>
                      <a
                        class="code-link"
                        href="https://github.com/openmindculture/ingo-steinke.de"
                        title="github.com/openmindculture/ingo-steinke.de"
                        target="_blank"
                        rel="noopener"
                      >
                        {{ content.projectPortfolioRelaunch4 }}
                      </a>
                    </span>
                  </p>

                  <p>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag5 }}</span>
                  </p>
                </div>

              </article>

              <article class="tile target-offset" id="atomic-design-system">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectAtomicRelaunchHeading }}</h3>
                  </header>
                  <p>
                    <img src="img/logo-fractal.svg" width="512" height="512" class="project-thumb" loading="lazy" alt="" />
                    <span class="text-line">
                      {{ content.projectAtomicRelaunch1 }}
                      <br>{{ content.projectAtomicRelaunch2 }} <a href="https://fractal.build/" target="_blank" rel="noopener">{{ content.projectAtomicRelaunch3 }}</a>{{ content.projectAtomicRelaunch4 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="wandelpunkt-consulting-semplice">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectWandelpunktHeading }}</h3>
                  </header>
                  <p>
                    <img src="img/logo-wandelpunkt.svg" width="512" height="512" class="project-thumb project-thumb--grow" loading="lazy" alt="" />
                    <span class="text-line">
                      {{ content.projectWandelpunkt1 }}
                      <a href="https://Wandelpunkt-Consulting.de"
                         target="_blank" rel="noopener">{{ content.projectWandelpunkt2 }}</a>
                      {{ content.projectWandelpunkt3 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-planted">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectPlantedHeading }}</h3>
                  </header>
                  <p>
                    <img src="img/icon-tree-branch.svg" width="512" height="512" class="project-thumb" loading="lazy" alt="" />
                    <span class="text-line">
                      {{ content.projectPlanted1 }}
                      <a href="https://www.climatefounders.com/climate-hack" target="_blank" rel="noopener">{{
                        content.projectPlanted2 }}</a>
                      {{ content.projectPlanted3 }}
                      <a href="https://planted.green"
                         target="_blank" rel="noopener">{{
                        content.projectPlanted4 }}</a>
                      {{ content.projectPlanted5 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectPlantedHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-shopware-plugin">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectShopwarePluginHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-shopware.svg"
                      width="512" height="512"
                      class="project-thumb project-thumb--minify"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectShopwarePlugin1 }}
                      <a
                        href="https://store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        title="store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectShopwarePlugin2 }}</a> {{ content.projectShopwarePlugin3 }}
                    </span>
                  </p>

                  <p>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-react-app">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectReactAppHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-react.svg"
                      width="512" height="512"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectReactApp1 }}
                      <a
                        href="https://wao.io/de/about-us/experts/ingo-steinke/"
                        title="wao.io/de/about-us/experts/ingo-steinke"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectReactApp2 }}</a>.
                    </span>
                    {{ content.projectReactApp3 }}
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectReactAppHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-webperf-meetup">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectWebperfMeetupHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-meetup.svg"
                      width="25" height="25"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectWebperfMeetup1 }}
                      <a
                        href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/"
                        title="www.meetup.com/cologne-germany-high-performance-website-optimization-group"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectWebperfMeetup2 }}</a>.
                      {{ content.projectWebperfMeetup3 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWebperfMeetupHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWebperfMeetupHashtag2 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-wordpress-plugin">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectWordpressPluginHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-wordpress.svg"
                      width="452" height="452"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectWordpressPlugin1 }}
                      <a
                        href="https://de.wordpress.org/plugins/wao-io-cache-control/"
                        title="de.wordpress.org/plugins/wao-io-cache-control"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectWordpressPlugin2 }}</a> {{ content.projectWordpressPlugin3 }}
                    </span>

                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag4 }}</span>
                  </p>
                </div>
              </article>


              <article class="tile target-offset" id="project-kleiderordnung">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectKleiderordnungHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-hanger.svg"
                      width="24" height="24"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectKleiderordnung1 }}
                       <a
                        href="https://www.kleiderordnung-duesseldorf.de"
                        title="www.kleiderordnung-duesseldorf.de"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectKleiderordnung2 }}</a>
                      {{ content.projectKleiderordnung3 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag4 }}</span>
                  </p>
                </div>
              </article>

            </div>
          </section>

          <section class="text-content-layout text-content-color">
            <h2 class="target-offset" id="work">
              {{ content.workHeading }}
            </h2>
            <article class="text-width">
              <p>
                {{ content.work }}
              </p>
              <h3>{{ content.workFullstackHeading }}</h3>
              <p>
                {{ content.workFullstack }}
              </p>
              <h3 class="target-offset" id="plugin-programmierung">{{ content.workPluginsHeading }}</h3>
              <p>
                {{ content.workPlugins1 }} <a href="#project-shopware-plugin">{{ content.workSwLink1Text }}</a> {{ content.workPlugins2 }} <a href="#project-wordpress-plugin">{{ content.workWpLinkText }}</a>{{ content.workPlugins3 }} <a href="https://store.shopware.com/waoio62482995391f/wao.io-cache-control.html" target="_blank" rel="noopener" title="{{ content.workSwLink2Title }}">{{ content.workSwLink2Text }}</a>{{ content.workPlugins4 }}
                {{ content.workPluginsOther }}
              </p>

            </article>
          </section>

          <section class="text-content-layout skills-wrapper avoid-page-break">
            <h3 id="skills" class="font-sans target-offset">{{ content.SkillsHeading }}</h3>
            <ul class="grid-container skills">
              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsWebdevHeading }}</h4>
                <ul>
                  <li>
                    Markup
                    <div class="hashtags">
                      <span class="hashtag brand-orange">HTML 5</span>
                      <span class="hashtag brand-blue-less">XML</span>
                      <span class="hashtag brand-blue-liquid">Liquid</span>
                      <span class="hashtag brand-green-twig">Twig</span>
                      <span class="hashtag brand-yellow-dark">handlebars</span>
                    </div>
                  </li>
                  <li>
                    CSS
                    <div class="hashtags">
                      <span class="hashtag brand-green">CSS 3</span>
                      <span class="hashtag brand-purple">SCSS</span>
                      <span class="hashtag brand-red-light">PostCSS</span>
                      <span class="hashtag brand-blue-light">tailwindcss</span>
                      <span class="hashtag brand-blue-less">less</span>
                    </div>
                  </li>
                  <li>
                    JavaScript
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">ES6</span>
                      <span class="hashtag brand-blue-light">React</span>
                      <span class="hashtag brand-purple-dark">Preact</span>
                      <span class="hashtag brand-blue">TypeScript</span>
                      <span class="hashtag brand-green">Node.js</span>
                      <span class="hashtag brand-blue">jQuery</span>
                    </div>
                  </li>

                  <li>
                    PHP
                    <div class="hashtags">
                      <span class="hashtag brand-blue-php">PHP 7</span>
                      <span class="hashtag brand-blue-php8">PHP 8</span>
                      <span class="hashtag brand-brown-light">Composer</span>
                      <span class="hashtag brand-gray">PHPStan</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsWebdevDb }}
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">MySQL</span>
                      <span class="hashtag brand-red-dark">Oracle</span>
                      <span class="hashtag brand-green">mongoDB</span>
                      <span class="hashtag brand-gray-light">Mongoose</span>
                    </div>
                  </li>
                  <li>
                    XML
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">XPath</span>
                      <span class="hashtag brand-purple">XSLT</span>
                      <span class="hashtag brand-red-dark">SOAP</span>
                      <span class="hashtag brand-gray">UBL</span>
                    </div>
                  </li>

                </ul>
              </li>
              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsLib }}</h4>
                <ul>
                  <li>
                    Shopware 6
                    <div class="hashtags">
                      <span class="hashtag brand-blue-purplish">Shopware</span>
                      <span class="hashtag brand-purple">Bootstrap</span>
                      <span class="hashtag brand-purple">SCSS</span>
                      <span class="hashtag brand-green-twig">Twig</span>
                      <span class="hashtag brand-yellow">Symfony</span>
                    </div>
                  </li>
                  <li>
                    JAM Stack
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">JavaScript</span>
                      <span class="hashtag brand-gray" title="11ty">Eleventy</span>
                      <span class="hashtag brand-blue-less">Markdown</span>
                      <span class="hashtag brand-blue-liquid">Liquid</span>
                      <span class="hashtag brand-red-dark">npm</span>
                    </div>
                  </li>
                  <li>
                    Fractal Stack
                    <div class="hashtags">
                      <span class="hashtag brand-blue-purplish">fractal</span>
                      <span class="hashtag brand-purple">SCSS</span>
                      <span class="hashtag brand-orange">Handlebars</span>
                      <span class="hashtag brand-blue-liquid">Webpack</span>
                      <span class="hashtag brand-yellow">CodeceptJS</span>
                    </div>
                  </li>
                  <li>
                    MERN Stack
                    <div class="hashtags">
                      <span class="hashtag brand-green">mongoDB</span>
                      <span class="hashtag brand-red-light">Express</span>
                      <span class="hashtag brand-purple-dark">(P)react</span>
                      <span class="hashtag brand-green">Node.js</span>
                      <span class="hashtag brand-blue">yarn</span>
                    </div>
                  </li>
                  <li>
                    LAMP Stack
                    <div class="hashtags">
                      <span class="hashtag brand-blue-less">Linux</span>
                      <span class="hashtag brand-red-light">Apache</span>
                      <span class="hashtag brand-yellow">MySQL</span>
                      <span class="hashtag brand-blue-php">PHP</span>
                    </div>
                  </li>
                  <li>
                    WordPress
                    <div class="hashtags">
                      <span class="hashtag brand-blue-less">WordPress</span>
                      <span class="hashtag brand-blue-php">PHP</span>
                      <span class="hashtag brand-orange">HTML</span>
                      <span class="hashtag brand-green">CSS</span>
                      <span class="hashtag brand-yellow">JavaScript</span>
                    </div>
                  </li>
                </ul>
              </li>

              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsOther }}</h4>
                <ul>
                  <li>
                    {{ content.SkillsOtherQa }}
                    <div class="hashtags">
                      <span class="hashtag brand-blue">Jest</span>
                      <span class="hashtag brand-blue-light">cypress</span>
                      <span class="hashtag brand-blue">axe</span>
                      <span class="hashtag brand-coral">Lighthouse</span>
                      <span class="hashtag brand-beige">Storybook</span>
                      <span class="hashtag brand-yellow">CodeceptJS</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsDevuxImg }}
                    <div class="hashtags">
                      <span class="hashtag brand-yellow-dark">Scrum</span>
                      <span class="hashtag brand-purple-dark">Kanban</span>
                      <span class="hashtag brand-blue-less">Jira</span>
                      <span class="hashtag brand-red-dark">Trello</span>
                      <span class="hashtag brand-orange">fractal</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherLinter }}
                    <div class="hashtags">
                      <span class="hashtag brand-blue">TypeScript</span>
                      <span class="hashtag brand-yellow">Babel</span>
                      <span class="hashtag brand-coral">Stylelint</span>
                      <span class="hashtag brand-beige">eslint</span>
                      <span class="hashtag brand-red-light">PostCSS</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherDevops }}
                    <div class="hashtags">
                      <span class="hashtag brand-blue">Docker</span>
                      <span class="hashtag brand-red">Jenkins</span>
                      <span class="hashtag brand-blue-php8">Snowpack</span>
                      <span class="hashtag brand-green">Netlify</span>
                      <span class="hashtag brand-orange">AWS</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherVcs }}
                    <div class="hashtags">
                      <span class="hashtag brand-red-dark">Git</span>
                      <span class="hashtag brand-red-light">GitLab</span>
                      <span class="hashtag brand-gray-light">GitHub</span>
                      <span class="hashtag brand-green">SVN</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherImg }}
                    <div class="hashtags">
                      <span class="hashtag brand-blue-less">GIMP</span>
                      <span class="hashtag brand-gray-dark">Inkscape</span>
                      <span class="hashtag brand-purple">Krita</span>
                      <span class="hashtag brand-yellow">ImageMagick</span>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </section>

          <section class="text-content-layout text-content-color semitransparent avoid-page-break">
            <h2 class="target-offset" id="about-me">
              {{ content.aboutMeHeading }}
            </h2>
            <article class="text-width">
              <header>
                <h3>
                  {{ content.aboutMeIntroHeading }}
                </h3>
              </header>
              <p class="capitalized"><!-- overcapitalize first letter -->
                {{ content.aboutMeIntro }}
              </p>

              <h3>{{ content.aboutMeCvHeading }}</h3>

              <p>
                {{ content.aboutMeCv1 }}
              </p>
              <p>
                {{ content.aboutMeCv2 }}
              </p>

              <h4>{{ content.aboutMeEthicalHeading }}</h4>
              <p>
                {{ content.aboutMeEthical }}
                {{ content.aboutMeEthicalImA }}
                <a href="https://fairantwortung.org/" target="_blank" rel="noopener">
                  fairantworter</a>,
                {{ content.aboutMeEthicalA }}
                <a href="https://www.reflecta.network/changemaker/ingo-steinke?ref=f181cba6-ddc9-4791-b579-b02c3be47206" target="_blank" rel="noopener">
                  reflecta Changemaker</a>{{ content.aboutMeEthicalandASignatory }}

                <a href="https://www.sustainablewebmanifesto.com/" target="_blank" rel="noopener">
                  Sustainable Web Manifesto</a>.
                <br><br>
                {{ content.aboutMeAtDev }} <a href="https://dev.to/ingosteinke" target="_blank" rel="noopener">{{ content.aboutMeDevBlog }}</a> {{ content.aboutMeIRegularly }}
              </p>

              <h3 class="target-offset" id="talks-events">{{ content.talksHeading }}</h3>

              <p>
                {{ content.talks }}
              </p>

              <figure class="content-image">
                <img
                  src="img/Ingo-Steinke-NCA-TV-2021-800x443.jpg"
                  srcset="img/Ingo-Steinke-NCA-TV-2021-400x222.jpg 400w,
                        img/Ingo-Steinke-NCA-TV-2021-800x443.jpg 800w"
                  width="800"
                  height="443"
                  alt="{{ content.talksImageAlt }}"
                  loading="lazy"
                >
                <figcaption>
                  {{ content.talksImageCaption }}:
                  <a href="https://blog.nevercodealone.de/php-testing-refactoring-nca-conference-duisburg/" target="_blank" rel="noopener">
                    {{ content.talksImageLinkText }}
                  </a>
                </figcaption>
              </figure>

              <p>
              {{ content.talks2 }}
                <ul>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/274558354/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkMeetupWebVitals }}
                    </a>
                    {{ content.talkMeetupWebVitals2 }}
                  </li>
                  <li>
                    <a
                      href="https://www2.slideshare.net/IngoSteinke/meetups-in-zeiten-von-corona-juni-2020-238451425"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkMeetupsCorona }}
                    </a>
                    {{ content.talkMeetupsCorona2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkPerformanceNoCode }}
                    </a>
                    {{ content.talkPerformanceNoCode2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/255856182/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkHsts }}
                    </a>
                    {{ content.talkHsts2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/zdnjlmywhbgb/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkInfrastructure }}
                    </a>
                    {{ content.talkInfrastructure2 }}
                  </li>
                  <li>
                    <a
                      href="https://meinjobdeinjob.de/donnerstag-26-januar-2017"
                      target="_blank"
                      hreflang="de"
                      rel="noopener"
                      >
                      {{ content.talkVocational }}
                    </a>
                    {{ content.talkVocational2 }}
                  </li>
                </ul>
            </article>
          </section>

          <section class="imprint-contact">
            <h2 id="imprint" class="center target-offset">
              {{ content.imprintHeader }}
            </h2>
            <article id="contact">
              <div class="vcard">
                <h3 class="fn">{{ content.imprintName }}</h3>
                <br>
                <span class="adr">
                  <span class="street-address">
                    {{ content.imprintStreetAddress }}</span><br>
                  <span class="postal-code">{{ content.imprintPostalCode }}</span> {{ content.imprintCity }}<br>
                  <span class="country-name">{{ content.imprintCountryName }}</span><br>
                </span><br>
                <span class="tel"><a href="tel:+491634684080">{{ content.imprintTel }}</a></span><br>
                <span><a href="mailto:{{ content.contactEmail }}">{{ content.contactEmail }}</a></span><br>
                <a class="url" rel="author" href="{{ content.canonicalHref }}https://www.ingo-steinke.de/">{{ content.shortHref }}</a>
                <span>{{ content.vatId }} DE340489834</span>
              </div>

              <ul class="row social-links">

                <li>
                  <a rel="noopener nofollow" href="https://www.linkedin.com/in/ingosteinke" target="_blank" title="LinkedIn-{{ content.profile }}: Ingo Steinke">
                    <img src="img/logo-linkedin.svg" width="25" height="25" loading="lazy" alt="LinkedIn Logo">
                    <span class="only-print">www.linkedin.com/in/ingosteinke</span>
                  </a>
                </li>

                <li>
                  <a href="https://github.com/openmindculture" target="_blank" rel="noopener" title="GitHub-{{ content.profile }}: openmindculture">
                    <img src="img/logo-github.svg" width="25" height="25" loading="lazy" alt="GitHub Logo">
                    <span class="only-print">github.com/openmindculture</span>
                  </a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/5069530/ingo-steinke"
                    target="_blank"
                    rel="noopener"
                    title="Stack Overflow-{{ content.profile }}"
                  >
                    <img src="img/logo-stackoverflow.svg" width="25" height="25" loading="lazy" alt="StackOverflow Logo">
                    <span class="only-print">stackoverflow.com/users/5069530/ingo-steinke</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.freelancermap.de/freelancer-verzeichnis/profile/it/170185-profil-ingo-steinke-frontend-web-developer-aus-duesseldorf.html" target="_blank" rel="noopener" title="Freelancermap-{{ content.profile }}: Ingo Steinke">
                    <svg width="64" height="64" viewBox="0 0 640 640" style="width:30px" xmlns="http://www.w3.org/2000/svg">
                    <title>Freelancermap-{{ content.profile }}: Ingo Steinke</title>
                      <g style="fill:none">
                        <path id="pQ39aMble" d="M29 611 l-29 -29 0 -256 c0 -270 4 -295 47 -315 15 -7 113 -11 279 -11 l256 0 29 29 29 29 0 262 0 262 -29 29 -29 29 -262 0 -262 0 -29 -29z m266 -81 c-3 -5 -16 -10 -28 -9 -21 0 -21 1 -2 9 28 12 37 12 30 0z m-163 -199 c-2 -55 -7 -80 -13 -70 -12 20 -11 90 2 128 6 18 12 31 13 29 1 -2 0 -41 -2 -87z m304 24 c20 -30 13 -63 -20 -102 -23 -27 -24 -27 -50 -9 -15 9 -36 31 -46 49 -22 35 -18 44 35 71 42 22 62 20 81 -9z m-66 -241 l45 5 -42 -14 c-33 -11 -50 -11 -82 -1 -55 16 -62 26 -9 14 24 -5 63 -7 88 -4z"></path></g><g id="lC2JCzuj5vaAl7yaYWuHLI" fill="rgb(252,254,255)" style="transform: none;"><g><path id="pTybzi8nm" d="M250 565 c-206 -64 -237 -352 -50 -467 122 -74 300 -24 361 102 15 30 30 70 33 88 5 27 3 32 -14 32 -14 0 -20 7 -20 23 0 13 -12 48 -27 78 -33 64 -90 108 -153 116 -30 4 -44 11 -47 24 -6 22 -21 23 -83 4z m182 -101 c107 -69 100 -237 -13 -295 -129 -65 -269 26 -257 167 11 135 154 203 270 128z"></path><path id="pCU3VBRk1" d="M304 462 c-15 -10 -34 -47 -34 -66 0 -13 5 -13 33 3 43 26 88 34 118 22 21 -9 19 -10 -19 -10 -52 -1 -108 -25 -128 -56 -40 -61 85 -196 145 -158 59 37 79 137 39 201 -30 49 -120 87 -154 64z"></path><path id="ps6YPZXMM" d="M247 438 c-38 -28 -57 -69 -57 -125 l0 -48 20 40 c11 22 24 47 29 55 14 24 42 92 39 95 -2 2 -16 -6 -31 -17z"></path>
                        <path id="p16IuUgbtI" d="M234 255 c-8 -44 6 -61 58 -76 65 -17 66 -7 6 53 l-57 58 -7 -35z"></path>
                        </g></g>
                    </svg>
                    <span class="only-print">www.freelancermap.de/freelancer-verzeichnis/profile/it/170185-profil-ingo-steinke-frontend-web-developer-aus-duesseldorf.html</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.xing.com/profile/Ingo_Steinke2/cv"
                    target="_blank"
                    rel="noopener nofollow"
                    title="Xing-{{ content.profile }}"
                  >
                    <img src="img/logo-xing.svg" width="25" height="25" loading="lazy" alt="Xing Logo">
                    <span class="only-print">www.xing.com/profile/Ingo_Steinke2/cv</span>
                  </a>
                </li>
                <li>
                  <a href="https://dev.to/ingosteinke"
                    target="_blank"
                    rel="noopener"
                    title="dev.to-{{ content.profile }}"
                  >
                    <svg width="50" height="40" viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:30px">
                      <title>dev.to Logo</title>
                      <rect width="50" height="40" rx="3" style="fill:none;stroke:currentColor;stroke-width:4px;"></rect>
                      <path style="fill:currentColor" d="M19.099 23.508c0 1.31-.423 2.388-1.27 3.234-.838.839-1.942 1.258-3.312 1.258h-4.403V12.277h4.492c1.31 0 2.385.423 3.224 1.27.846.838 1.269 1.912 1.269 3.223v6.738zm-2.808 0V16.77c0-.562-.187-.981-.562-1.258-.374-.285-.748-.427-1.122-.427h-1.685v10.107h1.684c.375 0 .75-.138 1.123-.415.375-.285.562-.708.562-1.27zM28.185 28h-5.896c-.562 0-1.03-.187-1.404-.561-.375-.375-.562-.843-.562-1.404V14.243c0-.562.187-1.03.562-1.404.374-.375.842-.562 1.404-.562h5.896v2.808H23.13v3.65h3.088v2.808h-3.088v3.65h5.054V28zm7.12 0c-.936 0-1.684-.655-2.246-1.965l-3.65-13.758h3.089l2.807 10.804 2.808-10.804H41.2l-3.65 13.758C36.99 27.345 36.241 28 35.305 28z"></path>
                    </svg>
                    <span class="only-print">dev.to/ingosteinke</span>
                  </a>
                </li>
              </ul>
            </article>

            <aside id="privacy" class="privacy initially-hidden clear target-offset">
              <header>
                <h3>
                  {{ content.privacyHeading }}
                </h3>
              </header>
              <p>
                {{ content.privacyGdpr }} <a href="#imprint">{{ content.privacyGdprImprint }}</a> {{ content.privacyGdpr2 }}
              </p>
              <h4>{{ content.privacyYourRightsHeading }}</h4>
              <p>
                {{ content.privacyYourRights }}
              </p>
              <h4>{{ content.privacyPersonalDataHeading }}</h4>
              <p>
                {{ content.privacyPersonalData }}
              </p>
              <h4>{{ content.privacyLawHeading }}</h4>
              <p>
                {{ content.privacyLaw }}
              </p>
              <p>
                {{ content.privacyLaw2 }}
              </p>
              <h4>{{ content.privacyMinimalHeading }}</h4>
              <p>
                {{ content.privacyMinimal }}
              </p>
              <p>
                {{ content.privacyNoCookies }}
              </p>
              <p>
                {{ content.privacyLinkDisclaimer }}
              </p>
              <h4>{{ content.privacyLogfilesHeading }}</h4>
              <p>
                {{ content.privacyLogfiles }}
              </p>
              <p>
                {{ content.privacyLogfilesLaw }}
              </p>
              <h4>{{ content.privacyChangesHeading }}</h4>
              <p>
                {{ content.privacyChanges }}
              </p>
            </aside>

          </section>
        </main>

        <footer class="page-footer">

          <div class="center transparent">
            <a
              href="https://www.reflecta.network/changemaker/ingo-steinke?ref=f181cba6-ddc9-4791-b579-b02c3be47206"
              title="Changemaker {{ content.at }} reflecta.network"
              class="transparent"
              target="_blank"
            >
              <img
                src="img/reflecta-network-changemaker.svg"
                alt="Logo: change maker {{ content.at }} reflecta network"
                width="300"
                height="109"
              >
            </a>
          </div>

          <p class="badge transparent">
            <a href="https://cleaner-web.com/" target="_blank">
              <svg width="300" height="92" viewBox="0 0 552 169" fill="none" xmlns="http://www.w3.org/2000/svg">
                <title>
                  Klimabewusste Website - geprüft von °Cleaner-Web - Klimabewusst im Internet.
                  Ausgestellt: 19.4.2022, gültig bis: 18.4.2023
                </title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M550.606 39.5898C555.607 25.793 546.324 10.3743 532.894 10.1741L508.194 9.80601V9.77468H506.092L504.092 9.74487L503.698 9.77468H211.871V131.457H504.872C514.381 134.106 524.941 128.227 527.401 116.213L533.001 88.8539C533.221 87.7796 533.517 86.7287 533.886 85.7109L550.606 39.5898Z" fill="#A2ED7E"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M210.867 6C210.867 2.68629 208.181 0 204.867 0H24.2649C20.9512 0 18.2649 2.6863 18.2649 6V132.313C18.2649 133.509 17.9075 134.678 17.2386 135.669L1.06186 159.644C-1.62697 163.629 1.22827 169 6.03557 169H224.619C229.426 169 232.282 163.629 229.593 159.644L211.636 133.031C211.558 132.915 211.427 132.846 211.288 132.846V132.846C211.055 132.846 210.867 132.658 210.867 132.425V6Z" fill="#000475"/>
                <rect x="29.9814" y="12.9463" width="165.899" height="118.508" rx="6" fill="#FFFFEF"/>
                <path d="M239.476 60.7124H245.088V53.226L247.849 49.8816L255.12 60.7124H261.834L251.867 46.1641L261.717 34.3685H254.99L245.438 45.984H245.088V34.3685H239.476V60.7124Z" fill="black"/>
                <path d="M270.058 34.3685H264.537V60.7124H270.058V34.3685Z" fill="black"/>
                <path d="M274.481 60.7124H280.003V40.9545H274.481V60.7124ZM277.255 38.4076C278.901 38.4076 280.249 37.1598 280.249 35.6291C280.249 34.1113 278.901 32.8635 277.255 32.8635C275.622 32.8635 274.274 34.1113 274.274 35.6291C274.274 37.1598 275.622 38.4076 277.255 38.4076Z" fill="black"/>
                <path d="M284.426 60.7124H289.947V48.8525C289.947 46.6658 291.347 45.2122 293.188 45.2122C295.002 45.2122 296.221 46.4471 296.221 48.3894V60.7124H301.574V48.6467C301.574 46.6014 302.753 45.2122 304.762 45.2122C306.525 45.2122 307.847 46.3056 307.847 48.5052V60.7124H313.356V47.4247C313.356 43.1412 310.789 40.6972 307.082 40.6972C304.166 40.6972 301.898 42.1765 301.081 44.4404H300.874C300.239 42.1508 298.204 40.6972 295.469 40.6972C292.786 40.6972 290.751 42.1122 289.921 44.4404H289.688V40.9545H284.426V60.7124Z" fill="black"/>
                <path d="M323.394 61.0854C326.336 61.0854 328.242 59.812 329.214 57.9725H329.369V60.7124H334.606V47.3861C334.606 42.6782 330.588 40.6972 326.155 40.6972C321.385 40.6972 318.249 42.9612 317.484 46.5629L322.591 46.9745C322.967 45.6624 324.146 44.6977 326.129 44.6977C328.008 44.6977 329.084 45.6367 329.084 47.2575V47.3346C329.084 48.6081 327.723 48.7753 324.263 49.1098C320.322 49.4699 316.784 50.782 316.784 55.1941C316.784 59.1045 319.597 61.0854 323.394 61.0854ZM324.976 57.3036C323.278 57.3036 322.059 56.519 322.059 55.014C322.059 53.4704 323.342 52.7115 325.287 52.4413C326.492 52.2741 328.462 51.9911 329.123 51.5538V53.6505C329.123 55.7215 327.399 57.3036 324.976 57.3036Z" fill="black"/>
                <path d="M338.993 60.7124H344.437V57.548H344.683C345.448 59.1945 347.12 61.034 350.335 61.034C354.871 61.034 358.409 57.4709 358.409 50.8592C358.409 44.0674 354.715 40.6972 350.347 40.6972C347.016 40.6972 345.422 42.6653 344.683 44.2732H344.515V34.3685H338.993V60.7124ZM344.398 50.8334C344.398 47.3089 345.902 45.0579 348.585 45.0579C351.32 45.0579 352.771 47.4118 352.771 50.8334C352.771 54.2808 351.294 56.6733 348.585 56.6733C345.928 56.6733 344.398 54.358 344.398 50.8334Z" fill="black"/>
                <path d="M371.167 61.0983C376.092 61.0983 379.41 58.7186 380.188 55.0526L375.081 54.7181C374.524 56.2231 373.098 57.0078 371.257 57.0078C368.497 57.0078 366.747 55.1941 366.747 52.2484V52.2355H380.304V50.7305C380.304 44.0159 376.209 40.6972 370.946 40.6972C365.088 40.6972 361.29 44.8263 361.29 50.9235C361.29 57.1879 365.036 61.0983 371.167 61.0983ZM366.747 48.8396C366.864 46.5886 368.587 44.7877 371.037 44.7877C373.435 44.7877 375.094 46.4857 375.107 48.8396H366.747Z" fill="black"/>
                <path d="M387.693 60.7124H393.525L396.947 48.2865H397.193L400.615 60.7124H406.461L411.866 40.9545H406.292L403.259 54.1521H403.091L399.824 40.9545H394.342L391.127 54.2293H390.946L387.861 40.9545H382.275L387.693 60.7124Z" fill="black"/>
                <path d="M427.578 52.2998C427.591 54.9497 425.763 56.3389 423.78 56.3389C421.693 56.3389 420.346 54.8853 420.333 52.5571V40.9545H414.811V53.5347C414.824 58.1526 417.546 60.9697 421.551 60.9697C424.545 60.9697 426.697 59.4389 427.591 57.1236H427.798V60.7124H433.1V40.9545H427.578V52.2998Z" fill="black"/>
                <path d="M454.081 46.5886C453.588 42.9483 450.633 40.6972 445.604 40.6972C440.51 40.6972 437.153 43.0383 437.166 46.8458C437.153 49.8044 439.033 51.721 442.921 52.4928L446.369 53.1745C448.106 53.5219 448.896 54.1521 448.922 55.1426C448.896 56.3132 447.613 57.1493 445.682 57.1493C443.712 57.1493 442.403 56.3132 442.066 54.7053L436.635 54.9883C437.153 58.77 440.394 61.0983 445.669 61.0983C450.827 61.0983 454.521 58.4871 454.534 54.5895C454.521 51.7339 452.642 50.0231 448.78 49.2384L445.176 48.5181C443.323 48.1193 442.636 47.489 442.649 46.5371C442.636 45.3537 443.984 44.5819 445.695 44.5819C447.613 44.5819 448.754 45.6238 449.026 46.8973L454.081 46.5886Z" fill="black"/>
                <path d="M474.576 46.5886C474.083 42.9483 471.128 40.6972 466.099 40.6972C461.005 40.6972 457.648 43.0383 457.661 46.8458C457.648 49.8044 459.528 51.721 463.416 52.4928L466.864 53.1745C468.601 53.5219 469.391 54.1521 469.417 55.1426C469.391 56.3132 468.108 57.1493 466.177 57.1493C464.207 57.1493 462.898 56.3132 462.561 54.7053L457.13 54.9883C457.648 58.77 460.889 61.0983 466.164 61.0983C471.323 61.0983 475.017 58.4871 475.03 54.5895C475.017 51.7339 473.137 50.0231 469.275 49.2384L465.672 48.5181C463.818 48.1193 463.131 47.489 463.144 46.5371C463.131 45.3537 464.479 44.5819 466.19 44.5819C468.108 44.5819 469.249 45.6238 469.521 46.8973L474.576 46.5886Z" fill="black"/>
                <path d="M489.096 40.9545H485.35V36.2208H479.829V40.9545H477.107V45.0707H479.829V55.3613C479.803 59.2331 482.46 61.1497 486.465 60.9825C487.891 60.9311 488.902 60.6481 489.459 60.468L488.591 56.3903C488.318 56.4418 487.735 56.5704 487.217 56.5704C486.115 56.5704 485.35 56.1588 485.35 54.641V45.0707H489.096V40.9545Z" fill="black"/>
                <path d="M501.552 61.0983C506.477 61.0983 509.795 58.7186 510.573 55.0526L505.466 54.7181C504.909 56.2231 503.483 57.0078 501.643 57.0078C498.882 57.0078 497.132 55.1941 497.132 52.2484V52.2355H510.69V50.7305C510.69 44.0159 506.594 40.6972 501.332 40.6972C495.473 40.6972 491.675 44.8263 491.675 50.9235C491.675 57.1879 495.421 61.0983 501.552 61.0983ZM497.132 48.8396C497.249 46.5886 498.973 44.7877 501.422 44.7877C503.82 44.7877 505.479 46.4857 505.492 48.8396H497.132Z" fill="black"/>
                <path d="M245.451 104.18H250.921L255.963 86.9559H256.17L261.225 104.18H266.695L274.29 77.8359H268.159L263.765 96.1788H263.532L258.697 77.8359H253.448L248.6 96.1403H248.38L243.986 77.8359H237.855L245.451 104.18Z" fill="black"/>
                <path d="M284.124 104.566C289.05 104.566 292.368 102.186 293.146 98.52L288.039 98.1855C287.481 99.6905 286.056 100.475 284.215 100.475C281.454 100.475 279.705 98.6614 279.705 95.7158V95.7029H293.262V94.1979C293.262 87.4833 289.166 84.1646 283.904 84.1646C278.046 84.1646 274.248 88.2937 274.248 94.3909C274.248 100.655 277.994 104.566 284.124 104.566ZM279.705 92.307C279.821 90.056 281.545 88.2551 283.995 88.2551C286.393 88.2551 288.052 89.953 288.065 92.307H279.705Z" fill="black"/>
                <path d="M296.969 104.18H302.413V101.015H302.659C303.424 102.662 305.096 104.501 308.31 104.501C312.847 104.501 316.385 100.938 316.385 94.3265C316.385 87.5348 312.691 84.1646 308.323 84.1646C304.992 84.1646 303.398 86.1327 302.659 87.7406H302.491V77.8359H296.969V104.18ZM302.374 94.3008C302.374 90.7763 303.878 88.5252 306.561 88.5252C309.295 88.5252 310.747 90.8792 310.747 94.3008C310.747 97.7482 309.27 100.141 306.561 100.141C303.904 100.141 302.374 97.8253 302.374 94.3008Z" fill="black"/>
                <path d="M336.634 90.056C336.142 86.4157 333.187 84.1646 328.158 84.1646C323.064 84.1646 319.707 86.5057 319.72 90.3132C319.707 93.2718 321.586 95.1884 325.475 95.9602L328.922 96.6419C330.659 96.9892 331.45 97.6195 331.476 98.61C331.45 99.7805 330.167 100.617 328.235 100.617C326.265 100.617 324.956 99.7805 324.619 98.1726L319.188 98.4556C319.707 102.237 322.947 104.566 328.222 104.566C333.381 104.566 337.075 101.954 337.088 98.0569C337.075 95.2012 335.196 93.4904 331.333 92.7058L327.73 91.9854C325.876 91.5867 325.189 90.9564 325.202 90.0045C325.189 88.8211 326.537 88.0493 328.248 88.0493C330.167 88.0493 331.307 89.0912 331.579 90.3647L336.634 90.056Z" fill="black"/>
                <path d="M340.565 104.18H346.086V84.4219H340.565V104.18ZM343.339 81.8749C344.985 81.8749 346.333 80.6272 346.333 79.0965C346.333 77.5786 344.985 76.3309 343.339 76.3309C341.705 76.3309 340.357 77.5786 340.357 79.0965C340.357 80.6272 341.705 81.8749 343.339 81.8749Z" fill="black"/>
                <path d="M361.099 84.4219H357.353V79.6882H351.832V84.4219H349.11V88.5381H351.832V98.8287C351.806 102.7 354.463 104.617 358.468 104.45C359.894 104.398 360.905 104.115 361.462 103.935L360.593 99.8577C360.321 99.9092 359.738 100.038 359.22 100.038C358.118 100.038 357.353 99.6262 357.353 98.1083V88.5381H361.099V84.4219Z" fill="black"/>
                <path d="M373.555 104.566C378.48 104.566 381.798 102.186 382.576 98.52L377.469 98.1855C376.912 99.6905 375.486 100.475 373.646 100.475C370.885 100.475 369.135 98.6614 369.135 95.7158V95.7029H382.693V94.1979C382.693 87.4833 378.597 84.1646 373.335 84.1646C367.476 84.1646 363.678 88.2937 363.678 94.3909C363.678 100.655 367.424 104.566 373.555 104.566ZM369.135 92.307C369.252 90.056 370.976 88.2551 373.425 88.2551C375.823 88.2551 377.482 89.953 377.495 92.307H369.135Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M60.8707 50.7766C56.4146 54.2988 52.8909 59.1926 51.0329 65.0398C46.3615 79.7405 53.9872 94.9002 68.0654 98.9C82.1435 102.9 97.343 94.225 102.014 79.5243C103.833 73.8003 103.788 68.0066 102.223 62.8293L97.6011 40.5998L93.5277 26.7674C93.1098 25.3481 91.2752 24.9148 90.1722 25.9749L75.0652 40.4946C74.9923 40.5646 74.9143 40.6295 74.8318 40.6885L61.31 50.3575C61.1368 50.4814 60.9906 50.6229 60.8707 50.7766Z" fill="#A2ED7E"/>
                <path d="M68.2128 95.3502C57.4125 112.765 52.4294 116.301 44.2762 118.367" stroke="#A2ED7E" stroke-width="4" stroke-linecap="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M98.6643 52.4113C94.2069 55.9336 90.6823 60.8282 88.8239 66.6765C84.1525 81.3772 91.7782 96.5369 105.856 100.537C119.935 104.537 135.134 95.8617 139.805 81.161C141.623 75.4408 141.579 69.651 140.017 64.4763L135.393 42.2366L131.32 28.4042C130.902 26.9849 129.067 26.5516 127.964 27.6117L112.857 42.1313C112.784 42.2014 112.706 42.2662 112.624 42.3252L99.102 51.9942C98.9296 52.1175 98.7839 52.2584 98.6643 52.4113Z" fill="#62DA99"/>
                <path d="M106.005 96.984C95.2045 114.398 90.2214 117.935 82.0682 120.001" stroke="#62DA99" stroke-width="4" stroke-linecap="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M136.14 50.7746C131.683 54.2969 128.158 59.1915 126.299 65.0398C121.628 79.7405 129.254 94.9002 143.332 98.9C157.41 102.9 172.61 94.225 177.281 79.5243C179.099 73.8041 179.054 68.0143 177.493 62.8396L172.869 40.5998L168.795 26.7674C168.377 25.3481 166.543 24.9148 165.44 25.9749L150.333 40.4946C150.26 40.5647 150.182 40.6295 150.099 40.6885L136.578 50.3575C136.405 50.4808 136.259 50.6217 136.14 50.7746Z" fill="#008F7E"/>
                <path d="M143.481 95.3502C132.681 112.765 127.698 116.301 119.545 118.367" stroke="#008F7E" stroke-width="4" stroke-linecap="round"/>
              </svg>
            </a>
          </p>

          <div id="wcb" class="carbonbadge"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

          <p>
            <a href="#contact">{{ content.targetContact }}</a>
            <a href="#imprint">{{ content.targetImprint }}</a>
            <a href="#privacy">{{ content.targetPrivacy }}</a>
          </p>

          &copy; {{ "now" | date: "%Y" }} {{ content.imprintName }}
        </footer>
      </div>

      <aside class="decoration">
        <div class="animation-wrapper">
          <div class="flounder"></div>
          <div class="flounder"></div>
        </div>

        <div class="animation-wrapper secondary">
          <div class="flounder"></div>
          <div class="flounder"></div>
        </div>

        <svg>
          <defs>
            <filter id="filter">
              <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 28 -10" result="filter" />
              <feComposite in="SourceGraphic" in2="filter" operator="atop" />
            </filter>
          </defs>
        </svg>
      </aside>
    </div>
  </body>
</html>
