<!doctype html>
<html lang={{ content.language }}>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
      {{ content.pageTitle }}
    </title>
    <meta name=language content={{ content.language }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* heading font serif */
      @font-face {
        font-family: 'Bitter';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src:
          local(''),
          url('fonts/bitter-v16-latin-700.woff2') format('woff2'),
          url('fonts/bitter-v16-latin-700.woff') format('woff');
      }

      /* body font sans */
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src:
          local(''),
          url('fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'),
          url('fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff');
      }
      {%- postcss -%}
        {% include '_includes/critical.css' %}
      {%- endpostcss -%}
    </style>
    <link rel="preload" href="fonts/bitter-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/montserrat-v15-latin-ext_latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" media="screen" href="styles.css?v=3.7.0">
    <script src="js/scripts.js?v=3.7.0"></script>
    <link rel="stylesheet" media="screen and (prefers-reduced-motion: no-preference)" href="decoration.css?v=3.7.0">
    <link rel="stylesheet" media="print" href="print.css?v=3.7.0">
    <meta name=author content="{{ content.metaAuthor }}">
    <meta
      property="og:title"
      content="{{ content.pageTitle }}"
    >
    <meta
      property="og:description"
      content="{{ content.pageDescription }}"
    >
    <meta name=description content="{{ content.pageDescription }}">
    <meta name="p:domain_verify" content="{{ content.pDomainVerify }}"/>
    <meta name="google-site-verification" content="{{ content.googleSiteVerification }}"/>
    <meta name=robots content="index,follow">
    <meta
      property="og:image"
      content="{{ content.canonicalHref }}img/Ingo-Steinke-portrait-2020.jpg"
    >
    <meta
      property="og:url"
      content="{{ content.canonicalHref }}"
    >
    <link
      rel="canonical"
      href="{{ content.canonicalHref }}"
    >
    <link
      rel="alternate"
      hreflang="{{ content.alternateHreflang }}"
      href="{{ content.alternateHref }}"
    >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="page-container" id="top">
      <div class="page-content">
        <header class="jumbotronHeader" id="jumbotronHeader">
          <picture>
            <source
              type="image/webp"
              sizes="100vw"
              srcset="img/Ingo-Steinke-flower-shirt.webp 1x,
                    img/Ingo-Steinke-flower-shirt-496.webp 2x,
                    img/Ingo-Steinke-flower-shirt-large.webp 4x"
            >
            <img
              src="img/Ingo-Steinke-flower-shirt.jpg"
              srcset="img/Ingo-Steinke-flower-shirt-496.jpg 2x,
                    img/Ingo-Steinke-flower-shirt-large.jpg 4x"
              width="248"
              height="248"
              alt="{{ content.jumbotronImageAlt }}"
              class="avatar"
            >
          </picture>
          <h1>{{ content.jumbotronHeader }}</h1>
          <p class="tagline">{{ content.jumbotronTagline }}</p>
        </header>
        <div class="sticky-header is-nav-closed" id="sticky-header">
          <div class="wrapper">
            <span class="raised-layer">
              <span class="scripted hideable" id="sticky-headline">
                <a href="#top">
                  <img
                    src="img/Ingo-Steinke-portrait-2020.jpg"
                    width="25"
                    height="25"
                    alt="{{ content.linkToTop }}"
                    class="avatar"
                  />
                  {{ content.jumbotronHeader }}
                </a>
              </span>
            </span>

            <div class="nav-wrapper">
              <a href="#contact" aria-hidden="true" class="extra-nav-link initially-hidden">{{ content.targetContact }}</a>
              <a href="#main-menu"
                id="main-menu-toggle"
                class="menu-toggle"
                aria-label="{{ content.menuOpen }}">
                <span class="sr-only">{{ content.menuOpen }}</span>
                {{ content.menuButton }}
              </a>

              <nav
                id="main-menu"
                class="main-menu page-navigation"
                aria-label="{{ content.menuLabel }}"
              >
                <a
                  href="#main-menu-toggle"
                  id="main-menuClose"
                  class="menuClose"
                  aria-label="{{ content.menuClose }}"
                >
                  <svg viewBox="0 0 512 512" width="16" height="16">
                    <g>
                      <path d="m25 512a25 25 0 0 1 -17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462a24.93 24.93 0 0 1 -17.68 7.32z" fill="currentColor"/>
                      <path d="m487 512a24.93 24.93 0 0 1 -17.68-7.32l-462-462a25 25 0 0 1 35.36-35.36l462 462a25 25 0 0 1 -17.68 42.68z" fill="currentColor"/>
                    </g>
                  </svg>
                </a>
                <ul>
                  <li><a href="#projects">{{ content.targetProjects }}</a></li>
                  <li><a href="#skills">{{ content.targetSkills }}</a></li>
                  <li><a href="#about-me">{{ content.targetAboutMe }}</a></li>
                  <li><a href="#contact">{{ content.targetContact }}</a></li>
                  <li><a href="#imprint">{{ content.targetImprint }}</a></li>
                  <li><a href="#privacy">{{ content.targetPrivacy }}</a></li>
                  <li>
                    <a
                      href="{{ content.alternateHref }}"
                      hreflang="{{ content.alternateHreflang }}"
                      lang="{{ content.alternateHreflang }}"
                      title="{{ content.targetOtherLanguageTitle }}"
                      id="language-switch"
                    >{{ content.targetOtherLanguage }}</a>
                  </li>
                </ul>
              </nav>

              <a href="#main-menu-toggle"
                class="backdrop"
                tabindex="-1"
                aria-hidden="true"
                hidden>
              </a>
            </div>

            </div>

        </div>

        <main id="content-top" class="target-offset">
          <section class="text-content-layout text-content-color">
            <h2>{{ content.introHeading }}</h2>
            <article class="text-width">
              <!-- article lacks heading -->
              <p>
                {{ content.intro }}
                nexum,
                Avenga{{ content.spacedAnd }}{% comment %} spacedAnd might start with a comma e.g. ", and" {% endcomment %}
                Project Together.
              </p>
              <p>
                {{ content.currentlyEcologicalIam }}
                <a href="https://www.reflecta.network/changemaker/ingo-steinke?ref=f181cba6-ddc9-4791-b579-b02c3be47206" target="_blank" rel="noopener">
                  Changemaker</a>,
                <a href="https://fairantwortung.org/uber-ingo-steinke/" target="_blank" rel="noopener">
                  Fairantworter</a>,
                <a href="https://greencompanion.de/detail/web-entwicklung" target="_blank" rel="noopener">
                  Green Companion</a>{{ content.and }} {{ content.memberOf }}
                <a href="https://berlin.impacthub.net" target="_blank" rel="noopener">Impact Hub Berlin</a>.
              </p>
              {% comment %}p content.careAboutGoingBeyond TODO only after clarification{% endcomment %}

              <h3>{{ content.workWithMeHeading }}</h3>

              <p>
                {{ content.workWithMe }}<br>
                <a href="#contact">{{ content.ctaContact }}</a>
                <br>
                {{ content.workWithMe2 }}
              </p>

              <h3>{{ content.pricingHeading }}</h3>

              <p>
                {{ content.pricing }}
              </p>

            </article>
          </section>

          <section class="tiled-content target-offset" id="projects">
            <div class="pl1">
              <h2>{{ content.projectsHeading }}</h2>
              <p>{{ content.projects }}</p>
            </div>

            <div class="grid-container flow-grid">

              <article class="tile target-offset" id="project-kleiderordnung">
                <div class="tile-content flex bg-peel">
                  <header>
                    <h3>{{ content.projectKleiderordnungHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-hanger.svg"
                      width="24" height="24"
                      class="project-thumb project-thumb--kleiderordnung"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectKleiderordnung1 }}
                       <a
                         href="https://kleiderordnung.berlin/"
                         title="www.kleiderordnung.berlin"
                         target="_blank"
                         rel="noopener"
                       >{{ content.projectKleiderordnung2 }}</a>
                      {{ content.projectKleiderordnung3 }}<br>
                      </span>
                      <span class="only-print code-link">www.kleiderordnung.berlin<br></span>
                      <span class="text-line">
                        {{ content.projectKleiderordnungCode }}<br>
                      </span>
                      <a
                      class="code-link"
                      href="https://github.com/openmindculture/kleiderordnung-berlin"
                      target="_blank"
                      rel="noopener"
                    >github.com/openmindculture/kleiderordnung-berlin</a>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="atomic-design-system">
                <div class="tile-content flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectAtomicRelaunchHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-fractal.svg"
                      width="512"
                      height="512"
                      class="project-thumb project-thumb--atomic-design-system"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectAtomicRelaunch1 }}
                      {{ content.projectAtomicRelaunch2 }} <a href="https://fractal.build/" target="_blank" rel="noopener">{{ content.projectAtomicRelaunch3 }}</a>{{ content.projectAtomicRelaunch4 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectAtomicRelaunchHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-wordpress-woo">
                <div class="tile-content flex bg-peel">
                  <header>
                    <h3>{{ content.projectWordpressWooHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-wordpress.svg"
                      width="452" height="452"
                      class="project-thumb project-thumb--wordpress-woo"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectWordpressWoo1 }}
                      <a
                        href="https://foodtogether.de/"
                        target="_blank"
                        rel="noopener"
                      >Food Together</a> {{ content.projectWordpressWoo2 }}.<br>
                      <a
                        href="https://foodtogether.de/wer-wir-sind/"
                        target="_blank"
                        rel="noopener"
                      >foodtogether.de/wer-wir-sind</a>
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWordpressWooHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWordpressWooHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectWordpressWooHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectWordpressWooHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-daskannstdutun">
                <div class="tile-content flex bg-peel">
                  <header>
                    <h3>{{ content.projectDaskannstdutunHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-hand.svg"
                      width="286" height="290"
                      class="project-thumb project-thumb--daskannstdutun"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectDaskannstdutun1 }}
                      <a
                        href="https://creativesforfuture.de/"
                        target="_blank"
                        rel="noopener"
                      >Creatives for Future</a>
                      {{ content.projectDaskannstdutunAnd }}
                      <a
                        href="https://www.psy4f.org/"
                        target="_blank"
                        rel="noopener"
                      >Psychologists for Future</a>
                      {{ content.projectDaskannstdutunCreatedSpaced }}{% comment %} might start with a comma e.g. ", the..." {% endcomment %}
                      &quot;{{ content.projectDaskannstdutunDKDT }}&quot;
                      {{ content.projectDaskannstdutunLast }}
                      <a
                        href="https://daskannstdutun.de/"
                        target="_blank"
                        rel="noopener"
                        class="print-display-block"
                      >daskannstdutun.de</a>
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectDaskannstdutunHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectDaskannstdutunHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectDaskannstdutunHashtag3 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-shopware-plugin">
                <div class="tile-content flex bg-peel">
                  <header>
                    <h3>{{ content.projectShopwarePluginHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-shopware.svg"
                      width="512" height="512"
                      class="project-thumb project-thumb--minify project-thumb--shopware-plugin"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectShopwarePlugin1 }}
                      <a
                        href="https://store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        title="store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectShopwarePlugin2 }}</a> {{ content.projectShopwarePlugin3 }}
                      <span class="only-print code-link">store.shopware.com/waoio62482995391f/wao.io-cache-control.html</span>
                    </span>
                  </p>

                  <p>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-react-app">
                <div class="tile-content flex bg-peel">
                  <header>
                    <h3>{{ content.projectReactAppHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-react.svg"
                      width="512" height="512"
                      class="project-thumb project-thumb--react"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectReactApp1 }}
                      <a
                        href="http://web.archive.org/web/20230129234614/https://wao.io/de/about-us/experts/ingo-steinke/"
                        title="wao.io/de/about-us/experts/ingo-steinke"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectReactApp2 }}</a>.
                    </span>
                    {{ content.projectReactApp3 }}
                    <span class="only-print code-link">wao.io/de/about-us/experts/ingo-steinke</span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectReactAppHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-portfolio-relaunch">
                <div class="tile-content flex bg-peel">
                  <header>
                    <h3>{{ content.projectPortfolioRelaunchHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-varnish.svg"
                      width="512" height="512"
                      class="project-thumb project-thumb--portfolio"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectPortfolioRelaunch1 }}
                      <a href="{{ content.canonicalHref }}">{{ content.projectPortfolioRelaunch2 }}</a> {{ content.projectPortfolioRelaunch3 }}<br>
                      <a
                        class="code-link"
                        href="https://github.com/openmindculture/ingo-steinke.de"
                        target="_blank"
                        rel="noopener"
                      >
                        github.com/openmindculture/ingo-steinke.de
                      </a>
                    </span>
                  </p>

                  <p>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="wandelpunkt-consulting-semplice">
                <div class="tile-content flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectWandelpunktHeading }}</h3>
                  </header>
                  <p>
                    <img src="img/logo-wandelpunkt.svg" width="512" height="512" class="project-thumb project-thumb--grow" loading="lazy" alt="" />
                    <span class="text-line">
                      {{ content.projectWandelpunkt1 }}
                      <a href="http://web.archive.org/web/20230401133238/https://www.wandelpunkt-consulting.de/"
                         target="_blank" rel="noopener">{{ content.projectWandelpunkt2 }}</a>{{ content.projectWandelpunkt3Spaced }}.
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectWandelpunktHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-planted">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectPlantedHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-tree-branch.svg"
                      width="512"
                      height="512"
                      class="project-thumb project-thumb--planted"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectPlanted1 }}
                      <a href="https://www.climatefounders.com/climate-hack" target="_blank" rel="noopener">{{
                        content.projectPlanted2 }}</a>
                      {{ content.projectPlanted3 }}
                      <a href="https://planted.green"
                         target="_blank" rel="noopener">{{
                        content.projectPlanted4 }}</a>
                      {{ content.projectPlanted5 }}
                      <span class="only-print code-link">https://planted.green</span>
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectPlantedHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag4 }}</span>
                  </p>
                </div>
              </article>

            </div>
          </section>

          <section class="text-content-layout text-content-color avoid-page-break">
            <h2 class="target-offset" id="work">
              {{ content.workHeading }}
            </h2>
            <article class="text-width">
              <p>
                {{ content.work }}
              </p>

              <h3>{{ content.workTeamHeading }}</h3>
              <p>
                {{ content.workTeam }}
              </p>

              <h3>{{ content.workReliableHeading }}</h3>
              <p>
                {{ content.workReliable }}
                {{ content.workClientsBenefit }}
              </p>

              <h3 class="target-offset" id="zertifizierter-shopware-entwickler">{{ content.workCertifiedHeading }}</h3>
              <p>
                {{ content.workCertifiedIam }}
                <a
                  href="{{ content.workCertifiedPdfUrl }}"
                  target="_blank"
                  rel="noopener"
                >{{ content.workCertifiedSWDev }}</a>
                {{ content.workCertifiedAnd }}
                {{ content.workCertifiedExtensionPartner }}.
              </p>

              <h3 class="target-offset" id="plugin-programmierung">{{ content.workPluginsHeading }}</h3>
              <p>
                {{ content.workPlugins5 }}
                <a
                  href="https://de.wordpress.org/plugins/incompatibility-status/"
                  target="_blank"
                  rel="noopener"
                >{{ content.workPlugins6 }}</a>
                {{ content.workPluginsAnd }}
                <a
                  href="https://github.com/openmindculture/wp-contact-form-inbox-report-mailer-plugin"
                  target="_blank"
                  rel="noopener"
                >{{ content.workPlugins7 }}</a>.
                {{ content.workPluginsOther }}
                <a
                  href="https://plugins.jetbrains.com/plugin/16721-cute-pink-light-theme"
                  target="_blank"
                  rel="noopener"
                >
                  Cute Pink Light Theme
                </a>.
              </p>

              <h3>{{ content.workFullstackHeading }}</h3>
              <p>
                {{ content.workFullstack }}
              </p>
              <p>
                {{ content.workOwnFocus }}
              </p>
            </article>
          </section>

          <section class="text-content-layout skills-wrapper avoid-page-break">
            <h3 id="skills" class="font-sans target-offset">{{ content.SkillsHeading }}</h3>
            <ul class="grid-container skills">
              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsWebdevHeading }}</h4>
                <ul>
                  <li>
                    <span>Markup, Templating</span>
                    <div class="hashtags">
                      <span class="hashtag brand-orange">HTML 5</span>
                      <span class="hashtag brand-green">Markdown</span>
                      <span class="hashtag brand-blue-less">XML</span>
                      <span class="hashtag brand-blue-liquid">Liquid</span>
                      <span class="hashtag brand-green-twig">Twig</span>
                      <span class="hashtag brand-beige">handlebars</span>
                    </div>
                  </li>
                  <li>
                    <span>CSS</span>
                    <div class="hashtags">
                      <span class="hashtag brand-green">CSS 3</span>
                      <span class="hashtag brand-purple">SCSS</span>
                      <span class="hashtag brand-red-light">PostCSS</span>
                      <span class="hashtag brand-blue-light">tailwind</span>
                      <span class="hashtag brand-blue-less">less</span>
                      <span class="hashtag brand-purple-dark">Bootstrap</span>
                    </div>
                  </li>
                  <li>
                    <span>JavaScript</span>
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">ES6</span>
                      <span class="hashtag brand-blue-light">React</span>
                      <span class="hashtag brand-purple-dark">Preact</span>
                      <span class="hashtag brand-blue">TypeScript</span>
                      <span class="hashtag brand-green">Node.js</span>
                      <span class="hashtag brand-blue">jQuery</span>
                    </div>
                  </li>

                  <li>
                    <span>PHP</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue-php">PHP 7</span>
                      <span class="hashtag brand-blue-php8">PHP 8</span>
                      <span class="hashtag brand-coral">Composer</span>
                      <span class="hashtag brand-green-twig">PHPStan</span>
                      <span class="hashtag brand-yellow">Symfony</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsWebdevDb }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">MySQL</span>
                      <span class="hashtag brand-red-dark">Oracle</span>
                      <span class="hashtag brand-green">mongoDB</span>
                      <span class="hashtag brand-gray-light">Mongoose</span>
                    </div>
                  </li>
                  <li>
                    <span>XML</span>
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">XPath</span>
                      <span class="hashtag brand-purple">XSLT</span>
                      <span class="hashtag brand-red-dark">SOAP</span>
                      <span class="hashtag brand-gray">UBL</span>
                    </div>
                  </li>

                </ul>
              </li>
              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsLib }}</h4>
                <ul>
                  <li>
                    <span>JAM Stack, {{ content.SkillsLibStaticSiteGenerators }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-yellow">JavaScript</span>
                      <span class="hashtag brand-gray" title="11ty">Eleventy</span>
                      <span class="hashtag brand-green">Markdown</span>
                      <span class="hashtag brand-blue-liquid">Liquid</span>
                      <span class="hashtag brand-red-dark">npm</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsLibDesignSystems }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue-purplish">fractal</span>
                      <span class="hashtag brand-purple">SCSS</span>
                      <span class="hashtag brand-orange">Handlebars</span>
                      <span class="hashtag brand-blue-liquid">Webpack</span>
                      <span class="hashtag brand-yellow">CodeceptJS</span>
                    </div>
                  </li>
                  <li>
                    <span>WordPress</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue-less">WordPress</span>
                      <span class="hashtag brand-blue-php">PHP</span>
                      <span class="hashtag brand-orange">HTML</span>
                      <span class="hashtag brand-green">CSS</span>
                      <span class="hashtag brand-yellow">JS</span>
                      <span class="hashtag brand-purple">WooCommerce</span>
                    </div>
                  </li>
                  <li>
                    <span>Shopware 6</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue-purplish">Shopware</span>
                      <span class="hashtag brand-red-dark">Bootstrap</span>
                      <span class="hashtag brand-purple">SCSS</span>
                      <span class="hashtag brand-yellow">JS</span>
                      <span class="hashtag brand-green-twig">Twig</span>
                      <span class="hashtag brand-yellow">Symfony</span>
                    </div>
                  </li>
                  <li>
                    <span>LAMP Stack</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue-less">Linux</span>
                      <span class="hashtag brand-red-light">Apache</span>
                      <span class="hashtag brand-yellow">MySQL</span>
                      <span class="hashtag brand-blue-php">PHP</span>
                      <span class="hashtag brand-green">nginx</span>
                    </div>
                  </li>
                  <li>
                    <span>MERN Stack</span>
                    <div class="hashtags">
                      <span class="hashtag brand-green">mongoDB</span>
                      <span class="hashtag brand-red-light">Express</span>
                      <span class="hashtag brand-purple-dark">(P)react</span>
                      <span class="hashtag brand-green">Node.js</span>
                      <span class="hashtag brand-blue">TypeScript</span>
                      <span class="hashtag brand-blue-php8">yarn</span>
                    </div>
                  </li>
                </ul>
              </li>

              <li class="tile tile--verbose">
                <h4 class="font-sans">{{ content.SkillsOther }}</h4>
                <ul>
                  <li>
                    <span>{{ content.SkillsOtherQa }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-orange">Axe</span>
                      <span class="hashtag brand-coral">Lighthouse</span>
                      <span class="hashtag brand-beige">Storybook</span>
                      <span class="hashtag brand-yellow">CodeceptJS</span>
                      <span class="hashtag brand-yellow-dark">Browserstack</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsOtherLinter }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue">TypeScript</span>
                      <span class="hashtag brand-yellow">Babel</span>
                      <span class="hashtag brand-coral">Stylelint</span>
                      <span class="hashtag brand-beige">eslint</span>
                      <span class="hashtag brand-green">esbuild</span>
                      <span class="hashtag brand-red-light">PostCSS</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsDevuxImg }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-red">Scrum</span>
                      <span class="hashtag brand-purple-dark">Kanban</span>
                      <span class="hashtag brand-blue-less">Jira</span>
                      <span class="hashtag brand-red-dark">Trello</span>
                      <span class="hashtag brand-orange">fractal</span>
                      <span class="hashtag brand-coral">asana</span>
                      <span class="hashtag brand-gray-light">GitHub</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsOtherVcs }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-red-dark">Git</span>
                      <span class="hashtag brand-red-light">GitLab</span>
                      <span class="hashtag brand-gray-light">GitHub</span>
                      <span class="hashtag brand-green">SVN</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsOtherDevops }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-blue">Docker</span>
                      <span class="hashtag brand-red">Jenkins</span>
                      <span class="hashtag brand-blue-php8">Snowpack</span>
                      <span class="hashtag brand-blue-liquid">Webpack</span>
                      <span class="hashtag brand-green">Netlify</span>
                    </div>
                  </li>
                  <li>
                    <span>{{ content.SkillsOtherImg }}</span>
                    <div class="hashtags">
                      <span class="hashtag brand-brown-light">GIMP</span>
                      <span class="hashtag brand-gray-dark">Inkscape</span>
                      <span class="hashtag brand-yellow">ImageMagick</span>
                      <span class="hashtag brand-beige">SVG</span>
                      <span class="hashtag brand-green-twig">webp</span>
                      <span class="hashtag brand-orange">guetzli</span>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </section>

          <section class="text-content-layout text-content-color semitransparent avoid-page-break">
            <h2 class="target-offset" id="about-me">
              {{ content.aboutMeHeading }}
            </h2>
            <article class="text-width">
              <header>
                <h3>
                  {{ content.aboutMeIntroHeading }}
                </h3>
              </header>
              <p class="capitalized"><!-- overcapitalize first letter -->
                {{ content.aboutMeIntro }}
              </p>

              <section class="avoid-page-break">
                <h3>{{ content.aboutMeCvHeading }}</h3>
                <p>
                  {{ content.aboutMeCv1 }}
                </p>
                <p>
                  {{ content.aboutMeCv2 }}
                </p>
              </section>

              <section class="avoid-page-break">
                <h4>{{ content.aboutMeEthicalHeading }}</h4>
                <p>
                  {{ content.aboutMeEthical }}
                  {{ content.aboutMeEthicalImA }}
                  <a href="https://fairantwortung.org/" target="_blank" rel="noopener">
                    Fairantworter</a>,
                  {{ content.aboutMeEthicalA }}
                  <a href="https://www.reflecta.network/changemaker/ingo-steinke?ref=f181cba6-ddc9-4791-b579-b02c3be47206" target="_blank" rel="noopener">
                    reflecta Changemaker</a>{{ content.aboutMeEthicalandASignatory }}

                  <a href="https://www.sustainablewebmanifesto.com/" target="_blank" rel="noopener">
                    Sustainable Web Manifesto</a>.
                </p>
                <p>
                  {{ content.careAboutGoingBeyond }}
                </p>
                <p>
                  {{ content.aboutMeAtDev }} <a
                    href="https://dev.to/ingosteinke"
                    target="_blank"
                    rel="noopener"
                  >{{ content.aboutMeDevBlog }}</a> <span class="only-print inline">(dev.to/ingosteinke) </span>{{ content.aboutMeAndOn }} <a
                    href="https://www.open-mind-culture.org/"
                    target="_blank"
                    rel="noopener"
                  >{{ content.aboutMeOMCLinkText }}</a> {{ content.aboutMeIRegularly }}
                </p>
              </section>

              <section class="avoid-page-break">
                <h3 class="target-offset" id="talks-events">{{ content.talksHeading }}</h3>
              </section>

              <figure class="content-image">
                <picture>
                  <source
                    type="image/webp"
                    sizes="100vw"
                    srcset="img/Ingo-Steinke-NCA-TV-2021-800x443.webp 1x,
                    img/Ingo-Steinke-NCA-TV-2021-400x222.webp 2x,
                    img/Ingo-Steinke-NCA-TV-2021-800x443.webp 4x"
                  >
                  <img
                    src="img/Ingo-Steinke-NCA-TV-2021-800x443.jpg"
                    srcset="img/Ingo-Steinke-NCA-TV-2021-400x222.jpg 400w,
                          img/Ingo-Steinke-NCA-TV-2021-800x443.jpg 800w"
                    sizes="(min-width: 800px) 800px, 100vw"
                    width="800"
                    height="443"
                    alt="{{ content.talksImageAlt }}"
                    loading="lazy"
                  >
                </picture>
                <figcaption>
                  {{ content.talksImageCaption }}:
                  <a href="https://blog.nevercodealone.de/php-testing-refactoring-nca-conference-duisburg/" target="_blank" rel="noopener">
                    {{ content.talksImageLinkText }}
                  </a>
                </figcaption>
              </figure>

              <p>
              {{ content.talks2 }}
                <ul>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/274558354/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkMeetupWebVitals }}
                    </a>
                    {{ content.talkMeetupWebVitals2 }}
                  </li>
                  <li>
                    <a
                      href="https://www2.slideshare.net/IngoSteinke/meetups-in-zeiten-von-corona-juni-2020-238451425"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkMeetupsCorona }}
                    </a>
                    {{ content.talkMeetupsCorona2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkPerformanceNoCode }}
                    </a>
                    {{ content.talkPerformanceNoCode2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/255856182/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkHsts }}
                    </a>
                    {{ content.talkHsts2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/zdnjlmywhbgb/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkInfrastructure }}
                    </a>
                    {{ content.talkInfrastructure2 }}
                  </li>
                </ul>

                <h3 id="testimonials">{{ content.testimonials }}</h3>
                <div class="testimonials">
                  <figure class="testimonial">
                    <figcaption>
                      <a href="{{ content.testimonialDanielaLinkUrl }}" target="_blank" rel="noopener">
                        {{ content.testimonialDanielaAuthor }}:
                      </a>
                    </figcaption>
                    <blockquote>{{ content.testimonialDanielaQuote }}</blockquote>
                  </figure>
                  <figure class="testimonial">
                    <figcaption>
                      <a href="{{ content.testimonialMalteLinkUrl }}" target="_blank" rel="noopener">
                        {{ content.testimonialMalteAuthor }}:
                      </a>
                    </figcaption>
                    <blockquote>{{ content.testimonialMalteQuote }}</blockquote>
                  </figure>
                  <figure class="testimonial">
                    <figcaption>
                      <a href="{{ content.testimonialPatriciaLinkUrl }}" target="_blank" rel="noopener">
                        {{ content.testimonialPatriciaAuthor }}:
                      </a>
                    </figcaption>
                    <blockquote>{{ content.testimonialPatriciaQuote }}</blockquote>
                  </figure>
                </div>

                <p class="no-print">
                  <a href="{{ content.testimonialsReadMoreLinkUrl }}" target="_blank" rel="noopener">
                    {{ content.testimonialsReadMoreText }}
                  </a>
                </p>

              <div class="only-print"><br></div>

                <h3 id="interested">{{ content.interestedHeading }}</h3>
                <p>
                  {{ content.interested }}
                </p>
            </article>
          </section>

          <section class="imprint-contact">
            <div class="aside-heading center target-offset" id="imprint">
              {{ content.imprintHeader }}
            </div>
            <article id="contact" class="target-offset">
              <div class="vcard">
                <h2 class="fn">{{ content.imprintName }}</h2>
                <br>
                <span class="adr">
                  <span class="street-address">
                    {{ content.imprintStreetAddress }}</span><br>
                  <span class="postal-code">{{ content.imprintPostalCode }}</span> {{ content.imprintCity }}<br>
                  <span class="country-name">{{ content.imprintCountryName }}</span><br>
                </span><br>
                {% if content.contactInterimTel %}
                  <small>{{ content.contactTelOfflineLabel }}:<br></small>
                  <del>
                    <span class="tel">
                      <a href="tel:{{ content.contactTel }}">{%-
                        for chunk in content.contactTelChunks -%}<span class="visually-spaced">{{ chunk }}</span>
                        {%- endfor -%}</a>
                    </span><br>
                  </del>
                  <small>{{ content.contactInterimLabel }}:<br></small>
                  <span class="tel">
                      <a href="tel:{{ content.contactInterimTel }}">{%-
                          for chunk in content.contactInterimTelChunks -%}<span class="visually-spaced">{{ chunk }}</span>
                        {%- endfor -%}</a>
                    </span><br><br>
                {% else %}
                  <span class="tel">
                      <a href="tel:{{ content.contactTel }}">{%-
                          for chunk in content.contactTelChunks -%}<span class="visually-spaced">{{ chunk }}</span>
                        {%- endfor -%}</a>
                    </span><br>
                {% endif %}
                <div class="visually-hidden no-print">{{ content.contactTel }}</div>

                <span><a href="mailto:{{ content.contactEmail }}">{{ content.contactEmail }}</a></span><br>
                <a class="url" rel="author" href="{{ content.canonicalHref }}">{{ content.shortHref }}</a>
                <br>
                <br>
                <span>{{ content.vatIdLabel }} {{ content.vatIdNumber }}</span>
                <div class="only-print"><br></div>
                <div title="{{ content.bankaccountLabel }}">
                  <div class="initially-hidden only-print">{{ content.bankaccountLabel }}</div>
                  {%- for chunk in content.bankaccountNumberChunks -%}<span class="visually-spaced">{{ chunk }}</span>{%- endfor -%}
                </div>
                <div class="paypal-link-wrapper">
                  <a
                    href="https://paypal.me/ingosteinke"
                    target="_blank"
                    rel="noopener nofollow"
                  >paypal.me/ingosteinke</a>
                </div>
                <br>
                <div>
                  <a
                    href="https://www.exali.de/siegel/Ingo-Steinke"
                    target="_blank"
                    title="{{ content.insuranceTitle }}"
                    id="insuranceLink"
                    class="no-print"
                  >
                    {{ content.insurance }}
                  </a>
                  <span class="initially-hidden only-print inline">
                    <div>{{ content.insuranceTitle }}:</div>
                    www.exali.de/siegel/Ingo-Steinke
                  </span>
                </div>
                <div class="vcard-digital-wrapper">
                  <a class="vcard-digital-qr" href="vcard/" download="ingo-steinke.vcf" title="{{ content.vcardQrTitle }}">
                    <img
                      class="vcard-digital-qr-image"
                      src="img/{{ content.vcardQrImgFilename }}"
                      alt="{{ content.vcardQrImgAlt }}"
                      width="2500"
                      height="2500">
                  </a>
                </div>
              </div>

              <ul class="row social-links no-print">
                <li>
                  <a rel="noopener nofollow" href="https://www.linkedin.com/in/ingosteinke" target="_blank" title="LinkedIn-{{ content.profile }}: Ingo Steinke">
                    <svg width="25" height="25" viewBox="0 0 1200 1200">
                      <title>LinkedIn Logo</title>
                      <g>
                        <path fill="currentColor" d="M173.099,315.394c67.758,0,122.814-55.008,122.814-122.978c0-67.927-55.056-122.983-122.814-122.983
                          C105.148,69.433,50,124.49,50,192.416C50,260.386,105.148,315.394,173.099,315.394z"/>
                        <path fill="currentColor" d="M281.983,392.659H64.113c-7.714,0-14.113,6.38-14.113,14.166v709.719c0,7.811,6.399,14.022,14.113,14.022
                          h217.869c7.623,0,13.93-6.211,13.93-14.022V406.826C295.913,399.039,289.605,392.659,281.983,392.659z"/>
                        <path fill="currentColor" d="M1149.224,568.366c-15.906-59.359-79.337-186.173-255.892-186.173
                          c-105.872,0-179.095,51.288-217.961,93.147v-68.514c0-7.787-6.211-14.166-13.93-14.166H443.571c-7.714,0-13.926,6.38-13.926,14.166
                          v709.719c0,7.811,6.211,14.022,13.926,14.022H661.44c7.719,0,13.93-6.211,13.93-14.022V683.163
                          c0.752-44.374,40.562-107.689,116.227-107.689c105.309,0,112.276,63.171,112.276,140.484v400.587
                          c0,7.811,6.211,14.022,14.113,14.022h217.869c7.811,0,14.118-6.211,14.118-14.022V615.964
                          C1150.163,567.875,1149.224,568.366,1149.224,568.366z"/>
                      </g>
                    </svg>
                    <span class="only-print">www.linkedin.com/in/ingosteinke</span>
                  </a>
                </li>

                <li>
                  <a href="https://github.com/openmindculture" target="_blank" rel="noopener" title="GitHub-{{ content.profile }}: openmindculture">
                    <svg width="25" height="25" viewBox="0 0 16 15">
                      <title>GitHub Logo</title>
                      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z" fill="currentColor" fill-rule="evenodd"/>
                    </svg>
                    <span class="only-print">github.com/openmindculture</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/openmindculture/" target="_blank" rel="noopener" title="Instagram-{{ content.profile }}: openmindculture">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <title>Instagram Logo</title>
                      <path fill="currentColor" d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
                    </svg>
                    <span class="only-print">instagram.com/openmindculture</span>
                  </a>
                </li>
                <li>
                  <a href="https://mastodon.social/@openmindculture"
                    target="_blank"
                    rel="me noopener nofollow"
                    title="Fediverse-{{ content.profile }}: @openmindculture@mastodon.social"
                  >
                    <svg class="logo--mastodon" fill="none" width="65" height="65" viewBox="0 0 61 65">
                      <title>Mastodon Logo</title>
                      <path fill="url(#gradient--mastodon)" fill-rule="evenodd" d="M60.7539 14.3904C59.8143 7.40642 53.7273 1.90257 46.5117 0.836066C45.2943 0.655854 40.6819 0 29.9973 0H29.9175C19.2299 0 16.937 0.655854 15.7196 0.836066C8.70488 1.87302 2.29885 6.81852 0.744617 13.8852C-0.00294988 17.3654 -0.0827298 21.2237 0.0561464 24.7629C0.254119 29.8384 0.292531 34.905 0.753482 39.9598C1.07215 43.3175 1.62806 46.6484 2.41704 49.9276C3.89445 55.9839 9.87499 61.0239 15.7344 63.0801C22.0077 65.2244 28.7542 65.5804 35.2184 64.1082C35.9295 63.9428 36.6318 63.7508 37.3252 63.5321C38.8971 63.0329 40.738 62.4745 42.0913 61.4937C42.1099 61.4799 42.1251 61.4621 42.1358 61.4417C42.1466 61.4212 42.1526 61.3986 42.1534 61.3755V56.4773C42.153 56.4557 42.1479 56.4345 42.1383 56.4151C42.1287 56.3958 42.1149 56.3788 42.0979 56.3655C42.0809 56.3522 42.0611 56.3429 42.04 56.3382C42.019 56.3335 41.9971 56.3336 41.9761 56.3384C37.8345 57.3276 33.5905 57.8234 29.3324 57.8156C22.0045 57.8156 20.0336 54.3384 19.4693 52.8908C19.0156 51.6397 18.7275 50.3346 18.6124 49.0088C18.6112 48.9866 18.6153 48.9643 18.6243 48.9439C18.6333 48.9236 18.647 48.9056 18.6643 48.8915C18.6816 48.8774 18.7019 48.8675 18.7237 48.8628C18.7455 48.858 18.7681 48.8585 18.7897 48.8641C22.8622 49.8465 27.037 50.3423 31.2265 50.3412C32.234 50.3412 33.2387 50.3412 34.2463 50.3146C38.4598 50.1964 42.9009 49.9808 47.0465 49.1713C47.1499 49.1506 47.2534 49.1329 47.342 49.1063C53.881 47.8507 60.1038 43.9097 60.7362 33.9301C60.7598 33.5372 60.8189 29.8148 60.8189 29.4071C60.8218 28.0215 61.2651 19.5781 60.7539 14.3904Z M50.3943 22.237V39.5876H43.5185V22.7481C43.5185 19.2029 42.0411 17.3949 39.036 17.3949C35.7325 17.3949 34.0778 19.5338 34.0778 23.7585V32.9759H27.2434V23.7585C27.2434 19.5338 25.5857 17.3949 22.2822 17.3949C19.2949 17.3949 17.8027 19.2029 17.8027 22.7481V39.5876H10.9298V22.237C10.9298 18.6918 11.835 15.8754 13.6453 13.7877C15.5128 11.7049 17.9623 10.6355 21.0028 10.6355C24.522 10.6355 27.1813 11.9885 28.9542 14.6917L30.665 17.5633L32.3788 14.6917C34.1517 11.9885 36.811 10.6355 40.3243 10.6355C43.3619 10.6355 45.8114 11.7049 47.6847 13.7877C49.4931 15.8734 50.3963 18.6899 50.3943 22.237Z"></path>
                      <defs>
                        <linearGradient id="gradient--mastodon" x1="30.5" y1="0" x2="30.5" y2="65" gradientUnits="userSpaceOnUse">
                          <stop class="gradient__colorstop--top" stop-color="currentColor" stop-opacity="0.5"></stop>
                          <stop class="gradient__colorstop--top" offset="1" stop-color="currentColor" stop-opacity="1"></stop>
                        </linearGradient>
                      </defs>
                    </svg>
                    <span class="only-print">@openmindculture@mastodon.social</span>
                  </a>
                </li>
                <li>
                  <a href="https://dev.to/ingosteinke"
                    target="_blank"
                    rel="noopener"
                    title="dev.to-{{ content.profile }}"
                  >
                    <svg width="50" height="40" viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg" style="width:30px">
                      <title>dev.to Logo</title>
                      <rect width="50" height="40" rx="3" style="fill:none;stroke:currentColor;stroke-width:4px;"></rect>
                      <path style="fill:currentColor" d="M19.099 23.508c0 1.31-.423 2.388-1.27 3.234-.838.839-1.942 1.258-3.312 1.258h-4.403V12.277h4.492c1.31 0 2.385.423 3.224 1.27.846.838 1.269 1.912 1.269 3.223v6.738zm-2.808 0V16.77c0-.562-.187-.981-.562-1.258-.374-.285-.748-.427-1.122-.427h-1.685v10.107h1.684c.375 0 .75-.138 1.123-.415.375-.285.562-.708.562-1.27zM28.185 28h-5.896c-.562 0-1.03-.187-1.404-.561-.375-.375-.562-.843-.562-1.404V14.243c0-.562.187-1.03.562-1.404.374-.375.842-.562 1.404-.562h5.896v2.808H23.13v3.65h3.088v2.808h-3.088v3.65h5.054V28zm7.12 0c-.936 0-1.684-.655-2.246-1.965l-3.65-13.758h3.089l2.807 10.804 2.808-10.804H41.2l-3.65 13.758C36.99 27.345 36.241 28 35.305 28z"></path>
                    </svg>
                    <span class="only-print">dev.to/ingosteinke</span>
                  </a>
                </li>
              </ul>
            </article>

            <aside id="privacy" class="privacy initially-hidden clear target-offset text-content-color">
              <div class="aside-heading">{{ content.privacyHeading }}</div>
              <p>
                {{ content.privacyGdpr }} <a href="#imprint">{{ content.privacyGdprImprint }}</a> {{ content.privacyGdpr2 }}
              </p>
              <div class="aside-heading">{{ content.privacyYourRightsHeading }}</div>
              <p>{{ content.privacyYourRights }}</p>
              <div class="aside-heading">{{ content.privacyPersonalDataHeading }}</div>
              <p>{{ content.privacyPersonalData }}</p>
              <div class="aside-heading">{{ content.privacyLawHeading }}</div>
              <p>{{ content.privacyLaw }}</p>
              <p>{{ content.privacyLaw2 }}</p>
              <div class="aside-heading">{{ content.privacyMinimalHeading }}</div>
              <p>{{ content.privacyMinimal }}</p>
              <p>{{ content.privacyNoCookies }}</p>
              <p>{{ content.privacyLinkDisclaimer }}</p>
              <div class="aside-heading">{{ content.privacyLogfilesHeading }}</div>
              <p>{{ content.privacyLogfiles }}</p>
              <p>{{ content.privacyLogfilesLaw }}</p>
              <div class="aside-heading">{{ content.privacyChangesHeading }}</div>
              <p>{{ content.privacyChanges }}</p>
            </aside>
          </section>
        </main>

        <footer class="page-footer">

          <p class="legal legal--links no-print">
            <a href="#contact">{{ content.targetContact }}</a>
            <a href="#imprint">{{ content.targetImprint }}</a>
            <a href="#privacy">{{ content.targetPrivacy }}</a>
          </p>

          {% comment %} hide untranslated content using content variable{% endcomment %}
          {% if content.showLandingpageLinks == "true" %}
          <p class="landingpage--links no-print">
            <a href="{{ content.landingLinkUrlWordPress }}" title="{{ content.landingLinkTitleWordPress }}">{{ content.landingLinkTextWordPress }}</a>
            <a href="{{ content.landingLinkUrlShopware }}" title="{{ content.landingLinkTitleShopware }}">{{ content.landingLinkTextShopware }}</a>
            <a href="{{ content.landingLinkUrlSustainability }}" title="{{ content.landingLinkTitleSustainability }}">{{ content.landingLinkTextSustainability }}</a>
          </p>
          {% endif %}

          <div id="wcb" class="carbonbadge no-print"></div>
          <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>

          <div class="center transparent no-print">
            <small>{{ content.listedAt }} <a href="http://www.suchnadel.de" title="suchnadel.de">Suchnadel</a></small>
          </div>

          <div class="center transparent no-print">
            <p>
              <a
                href="{{ content.ecofriendlyEcograderUrl }}"
                target="_blank"
                rel="noopener"
                title="{{ content.ecofriendlyEcograderTitle }}"
              >
                {{ content.ecofriendlyEcograderScore }}
              </a>
            </p>
          </div>

          <div class="badges">
            <div class="badge badge--greenweb transparent no-print">
              <a
                href="{{ content.ecofriendlyGreenWebCheckUrl }}"
                target="_blank"
                rel="noopener"
              >
                <picture>
                  <source srcset="img/{{ content.ecofriendlyGreenWebCheckImageFilename }}.webp" type="image/webp">
                  <source srcset="img/{{ content.ecofriendlyGreenWebCheckImageFilename }}.png" type="image/png">
                  <img
                     src="img/{{ content.ecofriendlyGreenWebCheckImageFilename }}.png"
                     data-original-src="{{ content.ecofriendlyGreenWebCheckImageOriginalSrc }}"
                     alt="{{ content.ecofriendlyGreenWebCheckImageAlt }}"
                  >
                </picture>
              </a>
            </div>
          </div>

          <p class="no-print">
            <button id="animation-toggle">{{ content.buttonStopAnimation }}</button>
          </p>

          <div class="only-print"><br></div>

          <div class="legal legal--copyright">
            &copy; {{ "now" | date: "%Y" }} {{ content.imprintName }}
            ({{ content.updatedWithColon }}
            {{ "now" | date: "%d" }}{{ content.dotIfGerman }}
            {{ "now" | date: "%m" | customLocalizedMonthNameFilter }}
            {{ "now" | date: "%Y" }})
          </div>

        </footer>
      </div>

      <aside class="decoration" id="decoration">
        <div class="animation-wrapper">
          <div class="flounder flounder--pie position position--bottom-left"></div>
          <div class="flounder flounder--pie position position--top-right"></div>
          <div class="flounder flounder--pie position position--bottom-right"></div>
        </div>
      </aside>
    </div>
  </body>
</html>
