<!doctype html>
<html lang={{ content.language }}>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
      {{ content.pageTitle }}
    </title>
    <meta name=language content={{ content.language }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>.hero { background-size: cover; }
      {%- postcss -%}
        {% include _includes/critical.css %}
      {%- endpostcss -%}
    </style>
    <link rel="preload" href="fonts/bitter-v16-latin-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/montserrat-v15-latin-ext_latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" media="screen" href="styles.css">
    <script src="js/scripts.js"></script>
    <link rel="stylesheet" media="none" onload="this.media='screen'" href="decoration.css">
    <link rel="stylesheet" media="print" href="print.css">
    <meta name=author content="{{ content.metaAuthor }}">
    <meta
      property="og:title"
      content="{{ content.pageTitle }}"
    >
    <meta
      property="og:description"
      content="{{ content.pageDescription }}"
    >
    <meta name=description content="{{ content.pageDescription }}">
    <meta name=keywords content="{{ content.pageKeywords }}">
    <meta name="p:domain_verify" content="{{ content.pDomainVerify }}"/>
    <meta name="googleSiteVerification" content="{{ content.googleSiteVerification }}"/>
    <meta name=robots content="index,follow">
    <meta
      property="og:image"
      content="{{ content.canonicalHref }}img/Ingo-Steinke-portrait-2020.jpg"
    >
    <meta
      name="twitter:card"
      content="{{ content.pageDescription-en }}"
    >
    <meta name="twitter:site" content="@fraktalisman">
    <meta name="twitter:creator" content="@fraktalisman">
    <meta
      property="og:url"
      content="{{ content.canonicalHref }}"
    >
    <link
      rel="canonical"
      href="{{ content.canonicalHref }}"
    >
    <link
      rel="alternate"
      hreflang="{{ content.alternateHreflang }}"
      href="{{ content.alternateHref }}"
    >
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="page-container" id="top">
      <div class="page-content">
        <header class="jumbotronHeader" id="jumbotronHeader">
          <img
            src="img/Ingo-Steinke-portrait-2020.jpg"
            srcset="img/Ingo-Steinke-portrait-2020-496.jpg 2x,
                    img/Ingo-Steinke-portrait-2020-992.jpg 4x"
            width="248"
            height="248"
            alt="{{ content.jumbotronImageAlt }}"
            class="avatar"
          >
          <h1>{{ content.jumbotronHeader }}</h1>
          <p class="tagline">{{ content.jumbotronTagline }}</p>
        </header>
        <div class="sticky-header is-nav-closed" id="sticky-header">
          <div class="wrapper">
            <span class="raised-layer">
              <span class="scripted hideable" id="sticky-headline">
                <a href="#top">
                  <img
                    src="img/Ingo-Steinke-portrait-2020.jpg"
                    width="25"
                    height="25"
                    alt="{{ content.linkToTop }}"
                    class="avatar"
                  />
                  {{ content.jumbotronHeader }}
                </a>
              </span>
            </span>

            <span class="nav-wrapper">
              <a href="#main-menu"
                id="main-menu-toggle"
                class="menu-toggle"
                aria-label="{{ content.menuOpen }}">
                <span class="sr-only">{{ content.menuOpen }}</span>
                {{ content.menuButton }}
              </a>

              <nav
                id="main-menu"
                class="main-menu page-navigation"
                aria-label="{{ content.menuLabel }}"
              >
                <a
                  href="#main-menu-toggle"
                  id="main-menuClose"
                  class="menuClose"
                  aria-label="{{ content.menuClose }}"
                >
                  <svg viewBox="0 0 512 512" width="16" height="16">
                    <g>
                      <path d="m25 512a25 25 0 0 1 -17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462a24.93 24.93 0 0 1 -17.68 7.32z" fill="currentColor"/>
                      <path d="m487 512a24.93 24.93 0 0 1 -17.68-7.32l-462-462a25 25 0 0 1 35.36-35.36l462 462a25 25 0 0 1 -17.68 42.68z" fill="currentColor"/>
                    </g>
                  </svg>
                </a>
                <ul>
                  <li><a href="#projects">{{ content.targetProjects }}</a></li>
                  <li><a href="#skills">{{ content.targetSkills }}</a></li>
                  <li><a href="#about-me">{{ content.targetAboutMe }}</a></li>
                  <li><a href="#talks-events">{{ content.targetTalksEvents }}</a></li>
                  <li><a href="#contact">{{ content.targetContact }}</a></li>
                  <li><a href="#imprint">{{ content.targetImprint }}</a></li>
                  <li><a href="#privacy">{{ content.targetPrivacy }}</a></li>
                  <li>
                    <a
                      href="{{ content.alternateHref }}"
                      hreflang="{{ content.alternateHreflang }}"
                      lang="{{ content.alternateHreflang }}"
                      title="{{ content.targetOtherLanguageTitle }}"
                      id="language-switch"
                    >{{ content.targetOtherLanguage }}</a>
                  </li>
                </ul>
              </nav>

              <a href="#main-menu-toggle"
                class="backdrop"
                tabindex="-1"
                aria-hidden="true"
                hidden>
              </a>
            </span>

            </div>

        </div>

        <main id="content-top" class="target-offset">
          <section class="text-content-layout text-content-color">
            <h2>{{ content.introHeading }}</h2>
            <article class="text-width">
              <!-- article lacks heading -->
              <p>
                {{ content.intro }}
                <a href="https://planted.green" target="_blank" rel="noopener">{{ content.planted }}</a>
                {{ content.intro2 }}
              </p>

              <h3>{{ content.workWithMeHeading }}</h3>

              <p>
                {{ content.workWithMe }}<br>
                <a href="#contact">{{ content.ctaContact }}</a>
                <br>
                {{ content.workWithMe2 }}
              </p>

            </article>
          </section>

          <section class="tiled-content target-offset" id="projects">
            <div class="pl1">
              <h2>{{ content.projectsHeading }}</h2>
              <p>{{ content.projects }}</p>
            </div>

            <div class="grid-container flow-grid">

              <article class="tile target-offset" id="project-portfolio-relaunch">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectPortfolioRelaunchHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-varnish.svg"
                      width="512" height="512"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectPortfolioRelaunch1 }}
                      <a href="{{ content.canonicalHref }}">{{ content.projectPortfolioRelaunch2 }}</a> {{ content.projectPortfolioRelaunch3 }}<br>
                      <a
                        class="code-link"
                        href="https://github.com/openmindculture/ingo-steinke.de"
                        title="github.com/openmindculture/ingo-steinke.de"
                        target="_blank"
                        rel="noopener"
                      >
                        {{ content.projectPortfolioRelaunch4 }}
                      </a>
                    </span>
                  </p>

                  <p>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectPortfolioRelaunchHashtag5 }}</span>
                  </p>
                </div>

              </article>

              <article class="tile target-offset" id="project-planted">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectPlantedHeading }}</h3>
                  </header>
                  <p>
                    <img src="img/icon-tree-branch.svg" width="512" height="512" class="project-thumb" loading="lazy" alt="" />
                    <span class="text-line">
                      {{ content.projectPlanted1 }}
                      <a href="https://www.climatefounders.com/climate-hack" target="_blank" rel="noopener">{{
                        content.projectPlanted2 }}</a>
                      {{ content.projectPlanted3 }}
                      <a href="https://planted.green"
                        target="_blank" rel="noopener">{{
                        content.projectPlanted4 }}</a>
                      {{ content.projectPlanted5 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectPlantedHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectPlantedHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-webperf-meetup">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectWebperfMeetupHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-meetup.svg"
                      width="25" height="25"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectWebperfMeetup1 }}
                      <a
                        href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/"
                        title="www.meetup.com/cologne-germany-high-performance-website-optimization-group"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectWebperfMeetup2 }}</a>.
                      {{ content.projectWebperfMeetup3 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWebperfMeetupHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWebperfMeetupHashtag2 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-wordpress-plugin">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectWordpressPluginHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-wordpress.svg"
                      width="452" height="452"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectWordpressPlugin1 }}
                      <a
                        href="https://de.wordpress.org/plugins/wao-io-cache-control/"
                        title="de.wordpress.org/plugins/wao-io-cache-control"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectWordpressPlugin2 }}</a> {{ content.projectWordpressPlugin3 }}
                    </span>

                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectWordpressPluginHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-shopware-plugin">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectShopwarePluginHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-shopware.svg"
                      width="512" height="512"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectShopwarePlugin1 }}
                      <a
                        href="https://store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        title="store.shopware.com/waoio62482995391f/wao.io-cache-control.html"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectShopwarePlugin2 }}</a> {{ content.projectShopwarePlugin3 }}
                    </span>
                  </p>

                  <p>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectShopwarePluginHashtag4 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-react-app">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectReactAppHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/logo-react.svg"
                      width="512" height="512"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectReactApp1 }}
                      <a
                        href="https://wao.io/de/about-us/experts/ingo-steinke/"
                        title="wao.io/de/about-us/experts/ingo-steinke"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectReactApp2 }}</a>.
                    </span>
                    {{ content.projectReactApp3 }}
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectReactAppHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectReactAppHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-webperf-talk">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectWebperfTalkHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-teaching.svg"
                      width="512" height="512"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectWebperfTalk1 }}
                      <a
                        href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                        title="meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectWebperfTalk2 }}</a>{{ content.projectWebperfTalk3 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectWebperfTalkHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectWebperfTalkHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectWebperfTalkHashtag3 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-lucom-erechnung">
                <div class="flex bg-peel pl1">
                  <header>
                    <h3>{{ content.projectLucomErechnungHeading }}</h3>
                  </header>
                  <p>
                    <img src="img/logo-lucom.svg" width="512" height="512" class="project-thumb" loading="lazy" alt="" />
                    <span class="text-line">
                      {{ content.projectLucomErechnung }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectLucomErechnungHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectLucomErechnungHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectLucomErechnungHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectLucomErechnungHashtag4 }}</span>
                    <span class="hashtag">{{ content.projectLucomErechnungHashtag5 }}</span>
                  </p>
                </div>
              </article>

              <article class="tile target-offset" id="project-kleiderordnung">
                <div class="flex bg-peel  pl1">
                  <header>
                    <h3>{{ content.projectKleiderordnungHeading }}</h3>
                  </header>
                  <p>
                    <img
                      src="img/icon-hanger.svg"
                      width="24" height="24"
                      class="project-thumb"
                      loading="lazy"
                      alt=""
                    />
                    <span class="text-line">
                      {{ content.projectKleiderordnung1 }}
                       <a
                        href="https://www.kleiderordnung-duesseldorf.de"
                        title="www.kleiderordnung-duesseldorf.de"
                        target="_blank"
                        rel="noopener"
                      >{{ content.projectKleiderordnung2 }}</a>
                      {{ content.projectKleiderordnung3 }}
                    </span>
                  </p>
                  <p>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag1 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag2 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag3 }}</span>
                    <span class="hashtag">{{ content.projectKleiderordnungHashtag4 }}</span>
                  </p>
                </div>
              </article>

            </div>
          </section>

          <section class="text-content-layout text-content-color">
            <h2 class="target-offset" id="work">
              {{ content.workHeading }}
            </h2>
            <article class="text-width">
              <p>
                {{ content.work }}
              </p>
              <h3>{{ content.workFullstackHeading }}</h3>
              <p>
                {{ content.workFullstack }}
              </p>
              <h3 class="target-offset" id="plugin-programmierung">{{ content.workPluginsHeading }}</h3>
              <p>
                {{ content.workPlugins1 }} <a href="#project-shopware-plugin">{{ content.workSwLink1Text }}</a> {{ content.workPlugins2 }} <a href="#project-wordpress-plugin">{{ content.workWpLinkText }}</a>{{ content.workPlugins3 }} <a href="https://store.shopware.com/waoio62482995391f/wao.io-cache-control.html" target="_blank" rel="noopener" title="{{ content.workSwLink2Title }}">{{ content.workSwLink2Text }}</a>{{ content.workPlugins4 }}
              </p>

            </article>
          </section>

          <section class="text-content-layout skills-wrapper avoid-page-break">
            <h3 id="skills" class="font-sans target-offset">{{ content.SkillsHeading }}</h3>
            <ul class="grid-container skills">
              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsWebdevHeading }}</h4>
                <ul>
                  <li>
                    {{ content.SkillsWebdevHtml }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsWebdevHtmlHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevHtmlHashtag2 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsWebdevCss }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsWebdevCssHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevCssHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevCssHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevCssHashtag4 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsWebdevJs }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsWebdevJsHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevJsHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevJsHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevJsHashtag4 }}</span>
                    </div>
                  </li>

                  <li>
                    {{ content.SkillsWebdevPhp }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsWebdevPhpHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevPhpHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevPhpHashtag3 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsWebdevXml }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsWebdevXmlHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevXmlHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevXmlHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevXmlHashtag4 }}</span>
                    </div>
                  </li>

                  <li>
                    {{ content.SkillsWebdevDb }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsWebdevDbHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevDbHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevDbHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsWebdevDbHashtag4 }}</span>
                    </div>
                  </li>

                </ul>
              </li>
              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsLib }}</h4>
                <ul>
                  <li>{{ content.SkillsLibReact }}</li>
                  <li>{{ content.SkillsLibVue }}</li>
                  <li>{{ content.SkillsLibNode }}</li>
                  <li>{{ content.SkillsLibSymfony }}</li>
                  <li>{{ content.SkillsLibEleventy }}</span>
                  <li>{{ content.SkillsLibLip }}</li>
                  </ul>
              </li>

              <li class="tile">
                <h4 class="font-sans">{{ content.SkillsOther }}</h4>
                <ul>
                  <li>
                    {{ content.SkillsOtherQa }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsOtherQaHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherQaHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherQaHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherQaHashtag4 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherVcs }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsOtherVcsHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherVcsHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherVcsHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherVcsHashtag4 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherLinter }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsOtherLinterHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherLinterHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherLinterHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherLinterHashtag4 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherDevops }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsOtherDevopsHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherDevopsHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherDevopsHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherDevopsHashtag4 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherDevopsHashtag5 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsOtherImg }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsOtherImgHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherImgHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsOtherImgHashtag3 }}</span>
                    </div>
                  </li>
                  <li>
                    {{ content.SkillsDevuxImg }}
                    <div class="hashtags">
                      <span class="hashtag">{{ content.SkillsDevuxImgHashtag1 }}</span>
                      <span class="hashtag">{{ content.SkillsDevuxImgHashtag2 }}</span>
                      <span class="hashtag">{{ content.SkillsDevuxImgHashtag3 }}</span>
                      <span class="hashtag">{{ content.SkillsDevuxImgHashtag4 }}</span>
                      <span class="hashtag">{{ content.SkillsDevuxImgHashtag5 }}</span>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </section>

          <section class="text-content-layout text-content-color semitransparent avoid-page-break">
            <h2 class="target-offset" id="about-me">
              {{ content.aboutMeHeading }}
            </h2>
            <article class="text-width">
              <header>
                <h3>
                  {{ content.aboutMeIntroHeading }}
                </h3>
              </header>
              <p class="capitalized"><!-- overcapitalize first letter -->
                {{ content.aboutMeIntro }}
              </p>

              <h3>{{ content.aboutMeCvHeading }}</h3>

              <p>
                {{ content.aboutMeCv1 }}
              </p>
              <p>
                {{ content.aboutMeCv2 }}
              </p>

              <h4>{{ content.aboutMeEthicalHeading }}</h4>
              <p>
                {{ content.aboutMeEthical }}
              </p>

              <h3 class="target-offset" id="talks-events">{{ content.talksHeading }}</h3>
              <p>
                {{ content.talks }}<br>
                {{ content.talks2 }}
                <ul>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/274558354/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkMeetupWebVitals }}
                    </a>
                    {{ content.talkMeetupWebVitals2 }}
                  </li>
                  <li>
                    <a
                      href="https://www2.slideshare.net/IngoSteinke/meetups-in-zeiten-von-corona-juni-2020-238451425"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkMeetupsCorona }}
                    </a>
                    {{ content.talkMeetupsCorona2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/268706480/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkPerformanceNoCode }}
                    </a>
                    {{ content.talkPerformanceNoCode2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/255856182/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkHsts }}
                    </a>
                    {{ content.talkHsts2 }}
                  </li>
                  <li>
                    <a
                      href="https://www.meetup.com/cologne-germany-high-performance-website-optimization-group/events/zdnjlmywhbgb/"
                      hreflang="de"
                      target="_blank"
                      rel="noopener"
                    >
                      {{ content.talkInfrastructure }}
                    </a>
                    {{ content.talkInfrastructure2 }}
                  </li>
                  <li>
                    <a
                      href="https://meinjobdeinjob.de/donnerstag-26-januar-2017"
                      target="_blank"
                      hreflang="de"
                      rel="noopener"
                      >
                      {{ content.talkVocational }}
                    </a>
                    {{ content.talkVocational2 }}
                  </li>
                </ul>
              </p>
            </article>
          </section>

          <section class="imprint-contact">
            <h2 id="imprint" class="center target-offset">
              {{ content.imprintHeader }}
            </h2>
            <article id="contact">
              <div class="vcard">
                <h3 class="fn">{{ content.imprintName }}</h3>
                <br>
                <span class="adr">
                  <span class="street-address">
                    {{ content.imprintStreetAddress }}</span><br>
                  <span class="postal-code">{{ content.imprintPostalCode }}</span> {{ content.imprintCity }}<br>
                  <span class="country-name">{{ content.imprintCountryName }}</span><br>
                </span><br>
                <span class="tel"><a href="tel:+491634684080">{{ content.imprintTel }}</a></span><br>
                <span><a href="mailto:{{ content.contactEmail }}">{{ content.contactEmail }}</a></span><br>
                <a class="url" rel="author" href="{{ content.canonicalHref }}https://www.ingo-steinke.de/">{{ content.shortHref }}</a>
                <span>{{ content.vatId }} DE340489834</span>
              </div>

              <ul class="row social-links">

                <li>
                  <a rel="noopener nofollow" href="https://www.linkedin.com/in/ingosteinke" target="_blank" title="LinkedIn-{{ content.profile }}: Ingo Steinke">
                    <img src="img/logo-linkedin.svg" width="25" height="25" loading="lazy" alt="LinkedIn Logo">
                    <span class="only-print">www.linkedin.com/in/ingosteinke</span>
                  </a>
                </li>

                <li>
                  <a href="https://github.com/openmindculture" target="_blank" rel="noopener" title="GitHub-{{ content.profile }}: openmindculture">
                    <img src="img/logo-github.svg" width="25" height="25" loading="lazy" loading="lazy" alt="GitHub Logo">
                    <span class="only-print">github.com/openmindculture</span>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/fraktalisman" target="_blank" rel="noopener" title="Twitter-{{ content.profile }}: fraktalisman">
                    <img src="img/logo-twitter.svg" width="25" height="25" loading="lazy" alt="Twitter Logo">
                    <span class="only-print">twitter.com/fraktalisman</span>
                  </a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/5069530/ingo-steinke"
                    target="_blank"
                    rel="noopener"
                    title="Stack Overflow-{{ content.profile }}"
                  >
                    <img src="img/logo-stackoverflow.svg" width="25" height="25" loading="lazy" alt="StackOverflow Logo">
                    <span class="only-print">stackoverflow.com/users/5069530/ingo-steinke</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.xing.com/profile/Ingo_Steinke2/cv"
                    target="_blank"
                    rel="noopener nofollow"
                    title="Xing-{{ content.profile }}"
                  >
                    <img src="img/logo-xing.svg" width="25" height="25" loading="lazy" alt="Xing Logo">
                    <span class="only-print">www.xing.com/profile/Ingo_Steinke2/cv</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.meetup.com/members/219315449/"
                    target="_blank"
                    rel="noopener"
                    title="Meetup-{{ content.profile }}"
                  >
                    <img src="img/logo-meetup.svg" width="25" height="25" loading="lazy" alt="Meetup Logo">
                    <span class="only-print">www.meetup.com/members/219315449</span>
                  </a>
                </li>
              </ul>

            </article>

            <aside id="privacy" class="privacy initially-hidden clear target-offset">
              <header>
                <h3>
                  {{ content.privacyHeading }}
                </h3>
              </header>
              <p>
                {{ content.privacyGdpr }} <a href="#imprint">{{ content.privacyGdprImprint }}</a> {{ content.privacyGdpr2 }}
              </p>
              <h4>{{ content.privacyYourRightsHeading }}</h4>
              <p>
                {{ content.privacyYourRights }}
              </p>
              <h4>{{ content.privacyPersonalDataHeading }}</h4>
              <p>
                {{ content.privacyPersonalData }}
              </p>
              <h4>{{ content.privacyLawHeading }}</h4>
              <p>
                {{ content.privacyLaw }}
              </p>
              <p>
                {{ content.privacyLaw2 }}
              </p>
              <h4>{{ content.privacyMinimalHeading }}</h4>
              <p>
                {{ content.privacyMinimal }}
              </p>
              <p>
                {{ content.privacyNoCookies }}
              </p>
              <p>
                {{ content.privacyLinkDisclaimer }}
              </p>
              <h4>{{ content.privacyLogfilesHeading }}</h4>
              <p>
                {{ content.privacyLogfiles }}
              </p>
              <p>
                {{ content.privacyLogfilesLaw }}
              </p>
              <h4>{{ content.privacyChangesHeading }}</h4>
              <p>
                {{ content.privacyChanges }}
              </p>
            </aside>

          </section>
        </main>

        <footer class="page-footer">
          <p>
            <a href="#contact">{{ content.targetContact }}</a>
            <a href="#imprint">{{ content.targetImprint }}</a>
            <a href="#privacy">{{ content.targetPrivacy }}</a>
          </p>
          &copy; {{ "now" | date: "%Y" }} {{ content.imprintName }}
        </footer>
      </div>

      <aside class="decoration">
        <div class="animation-wrapper">
          <div class="flounder"></div>
          <div class="flounder"></div>
        </div>

        <div class="animation-wrapper secondary">
          <div class="flounder"></div>
          <div class="flounder"></div>
        </div>

        <svg>
          <defs>
            <filter id="filter">
              <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 28 -10" result="filter" />
              <feComposite in="SourceGraphic" in2="filter" operator="atop" />
            </filter>
          </defs>
        </svg>
      </aside>
    </div>
  </body>
</html>
