---
tags: addtositemap
permalink: '/sitemap.html'
metanoindex: true
---
<!doctype html>
<html lang="{{ '' | appendCurrentLanguageSlug }}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Ingo Steinke: Sitemap</title>
  {% include '../_includes/html-head-common.liquid' %}
</head>
<body class="high-contrast sitemap">
<div class="pl1" id="top">
  <main id="content-top" class="target-offset">
  <h1>Sitemap</h1>
  <ul class="transparent">
    <li>
      <a href="/">{{ content.pageTitle }}</a>
      <ul>
        <li class="sitemap--section--skills"><!-- Angebot, Leistungen, Services, Skills, Fachkenntnisse -->
          <a href="{{ content.targetServicesUrl }}">{{ content.targetServicesTitle }}</a>
          <ul>
            <li><a href="{{ content.landingLinkUrlFreelanceBerlin }}">{{ content.landingLinkTitleFreelanceBerlin }}</a></li>
            <li><a href="{{ content.landingLinkUrlShopware }}">{{ content.landingLinkTextShopware }}: {{ content.landingLinkTitleShopware }}</a></li>
            <li><a href="{{ content.landingLinkUrlWordPress }}">{{ content.landingLinkTitleWordPress }}</a></li>
            <li><a href="{{ content.landingLinkUrlSustainability }}">{{ content.landingLinkTextSustainability }}: {{ content.landingLinkTitleSustainability }}</a></li>
            <li><a href="/{{ content.servicesBuildMoreLinkPath }}" title="{{ content.servicesBuildMoreSubFooterLinkTitle }}">{{ content.servicesBuildMoreSubFooterLinkText }}</a>
            <li><a href="/{{ content.servicesVerifyMoreLinkPath }}" title="{{ content.servicesVerifyMoreSubFooterLinkTitle }}">{{ content.servicesVerifyMoreSubFooterLinkText }}</a>
            <li><a href="/{{ content.servicesImproveMoreLinkPath }}" title="{{ content.servicesImproveMoreSubFooterLinkTitle }}">{{ content.servicesImproveMoreSubFooterLinkText }}</a>
          </ul>
        </li>
        <li class="sitemap--section--projects"><!-- Projekte, Referenzen, Fallstudien, Case Studies -->
          <a href="{{ content.targetProjectsUrl }}">{{ content.targetProjectsVerboseTitle }}</a>
          <ul>
            <li><a href="{{ content.caseStudyReactAppUrl }}">{{ content.caseStudyReactApp }}</a></li>
          </ul>
        </li>

        <li class="sitemap--section--about">
          <a href="{{ content.targetAboutMeUrl }}">{{ content.targetAboutMe }}</a>
          <ul>
            <li><a href="{{ content.targetHrConciseCvUrl }}" hreflang="de" target="_blank">{{ content.targetHrConciseCv }}</a> (PDF)</li>
            <!--
            <li><a href="../Ingo-Steinke-CV-Projekte-Skills-2025-nachhaltiger-Webentwickler.pdf" hreflang="de" target="_blank"
                   rel="noopener noreferrer nofollow">Ingo Steinke, Webentwickler, Berlin: CV, Projekte, Skills</a>
              (PDF, Deutsch, 04/2025)
            </li>
            <li><a href="../Ingo-Steinke-CV-Projects-Skills-2025-sustainable-web-developer.pdf" hreflang="en" target="_blank"
                   rel="noopener noreferrer nofollow">Ingo Steinke, web developer, Berlin: CV, projects, skills</a>
              (PDF, English, 04/2025)
            </li>
            -->
            <li>
              <a href="../Shopware-6-Certified-Developer-Ingo-Steinke-de.pdf" hreflang="en" target="_blank">
                Shopware Certified Developer Ingo Steinke
              </a> (PDF, English)
            </li>
          </ul>
        </li>

      </ul>
    </li>

    <li>
      <h2>{{ content.languagesSubtitle }}</h2>
      <ul>
        <li lang="de"><a href="https://www.ingo-steinke.de/" hreflang="de">Deutsch: Ingo-Steinke.de</a></li>
        <li lang="en"><a href="https://www.ingo-steinke.com/" hreflang="en">English: Ingo-Steinke.com</a></li>
      </ul>
    </li>
    <li>
      <h2>{{ content.furtherInformationSubheading }}</h2>
      <ul>
        <li><a href="/#contact" class="contact-link">{{ content.targetContact }}</a></li>
        <li><a href="/#imprint">{{ content.targetImprint }}</a></li>
        <li><a href="/#privacy">{{ content.targetPrivacy }}</a></li>
        <li><a href="/sitemap.xml">sitemap.xml</a></li>
      </ul>
    </li>
  </ul>
  </main>

  <footer><aside>
    <div class="legal legal--copyright">
      &copy; {{ "now" | date: "%Y" }} {{ content.imprintName }}
      ({{ content.updatedWithColon }}
      {{ "now" | date: "%d" }}{{ content.dotIfGerman }}
      {{ "now" | date: "%m" | customLocalizedMonthNameFilter }}
      {{ "now" | date: "%Y" }})
    </div>
    </aside></footer>
</div>
</body>
</html>
